<!DOCTYPE html>
<html>
<head>
    #set($title = "联系我们")
#parse("site/header.vm")
</head>
<body>
<div class="banner1 agileits">
    <div class="header">
        <div class="container">
            #parse("site/top_nav.vm")
        </div>
    </div>
</div>
<div class="contact">
    <div class="container">
        <div class="contact-main">
            <div class="contact-top">
                <h2>联系我们</h2>
            </div>
            <div class="contact-block1">
                <div class="col-md-6 contact-address">
                    <h3>联系方式</h3>
                    <ul>
                        <li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"> </span><p>江苏省无锡市滨湖区隐秀路901号联创大厦507</p></li>
                        <li><span class="glyphicon glyphicon-phone" aria-hidden="true"> </span><p>0510-85860889</p></li>
                        <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"> </span><p><a href="mailto:info@example.com">support@co-villa.com</a></p></li>
                    </ul>
                </div>
                <div class="col-md-6 contact-block-left">
                    <form action="#" method="post">
                        <input type="text" placeholder="名字" required="" name="Name">
                        <input type="text" class="email" placeholder="邮件地址" name="Email">
                        <input type="text" class="subject" placeholder="主题" name="Subject">
                        <textarea placeholder="留言" name="message"></textarea>
                        <input type="submit" value="发送">
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="contact-map">
                <iframe src="http://j.map.baidu.com/qth2H" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
    #parse("site/footer.vm")
</body>
</html>