<div class="footer w3ls">
    <div class="container">
        <div class="footer-main">
            <div class="footer-top">
                <div class="col-md-4 ftr-grid">
                    <h3>欢迎试用</h3>
                    <p>只要您点击注册按钮，注册您的店铺即可获得一个月的试用期限。更多精彩尽在其中</p>
                </div>
                <div class="col-md-4 ftr-grid">
                    <h3>联系方式</h3>
                    <div class="ftr-address">
                        <div class="local">
                            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                        </div>
                        <div class="ftr-text">
                            <p>江苏省无锡市滨湖区隐秀路901号联创大厦507</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="ftr-address">
                        <div class="local">
                            <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                        </div>
                        <div class="ftr-text">
                            <p>0510-85860889</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="col-md-4 ftr-grid">
                    <h3>留言咨询</h3>
                    <form action="#" method="post">
                        <input type="text" placeholder="邮件地址"  name="Enter Email" required=""/>
                        <input type="submit" value="">
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="footer-bottom">
                <div class="col-md-6 col-md-offset-3 copyrights">
                    <p>Copyright &copy; 2016 无锡克维拉科技有限公司 苏ICP备16044285号</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>