#set($URL = "$!{req.contextPath}")
#set($TITLE = "克维拉收银系统")
#set($timestamp = "$toolUtil.getVersionTimestamp()")
#set($dollor="$")
<script src="$URL/asset/bk/js/jquery.min.js?v=2.1.4"></script>
<script src="$URL/asset/bk/common.js?v=$timestamp"></script>
<script type="text/javascript">
    var url = '$URL';
    var imgPrefix = "/static/"
</script>
