<script type="text/javascript">
    //添加选中样式
    $("table").on('click-row.bs.table', function (e, row, $element) {
        $('.success').removeClass('success');
        $($element).addClass('success');
    });

    $(".closeFrame").on("click", function(){
        $(window.parent.document).find(".page-tabs").find(".active").find("i").click()
    })

    $("#toolbar").find(".btn").css("margin-right", "10px");

    $("input[data-type='time']").on("click", function(){laydate({istime: true, format: 'YYYY-MM-DD HH-mm-ss', fixed : true})});
    $("input[data-type='date']").on("click", function(){laydate({istime: false, format: 'YYYY-MM-DD', fixed : true})});

    $("#closeLayer").on("click", function(){
        closeCurrentLayerPage();
    })
    $(".closeLayer").on("click", function(){
        closeCurrentLayerPage();
    })

</script>

