<!DOCTYPE html>
<html>
<head>
    #parse("templates/common/base-bk.vm")
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title></title>
     <link href="$URL/asset/bk/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="$URL/asset/bk/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="$URL/asset/bk/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/animate.min.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="$URL/asset/bk/plugins/webuploader/webuploader.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/plugins/chosen/chosen.css" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-xs-12">
            <div class="tabs-container">
                <div class="pull-right">
                    #if($oper!='look')
                        <button class="btn btn-primary" type="submit" id="submit""><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;保存</button>
                    #end
                    <button class="btn btn-primary" type="button" id="closeLayer"><i class="glyphicon glyphicon-remove"></i>&nbsp;关闭</button>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active" id="tab-base"><a data-toggle="tab" href="#tab-1" aria-expanded="true"> 基本信息</a>
                    </li>
                    <li class="type-suite #if($oper == "add" && $type != 1)hidden#end"><a data-toggle="tab" href="#tab-4" aria-expanded="false">套餐详情</a>
                    </li>
                    <li class="type-food"><a data-toggle="tab" href="#tab-3" aria-expanded="false">自定义选项</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <!-- 选项卡1-->
                    <div id="tab-1" class="tab-pane active">
                        <div class="ibox-content">
                            <form class="form-horizontal" id="signupForm" method="post">
                                <input type="hidden" name="oper" value="$!oper">
                                <input type="hidden" name="_id">
                                <input type="hidden" name="type" value="$!type">

                                <div class="form-group m-t-lg">
                                    <div class="col-xs-6">
                                            <label class="col-xs-3 control-label">大类：</label>
                                            <div class="col-xs-8">
                                                <select  id="categoryId" name="categoryId" class="form-control" minlength="1" type="text" required >
                                                    #foreach($cate in $!categories)
                                                        <option value="$!{cate.id}" data-children="$!{cate.children}">$!{cate.name}</option>
                                                    #end
                                                </select>
                                            </div>
                                    </div>
                                    <div class="col-xs-6">
                                            <label class="col-xs-3 control-label">小类：</label>
                                            <div class="col-xs-8">
                                                <select  id="cat" name="cat" class="form-control" minlength="1" type="text" required >
                                                    #foreach($cate in $!categories)
                                                        #if($velocityCount == 1)
                                                            #foreach($child in ${cate.children})
                                                                <option value="$!{child.id}">$!{child.name}</option>
                                                            #end
                                                        #end
                                                    #end
                                                </select>
                                            </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label class="col-xs-3 control-label">ID：</label>
                                        <div class="col-xs-8">
                                            <input id="id" name="id" class="form-control" minlength="1" type="text" required >
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                            <label class="col-xs-3 control-label">名称：</label>
                                            <div class="col-xs-8">
                                                <input id="name" name="name" class="form-control" minlength="1" type="text" required >
                                            </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label class="col-xs-3 control-label">价格：</label>
                                        <div class="col-xs-8">
                                            <div class="input-group">
                                                <input id="price1" name="price1" class="form-control" number="true" min="0" type="text" required ><span class="input-group-addon">元</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <label class="col-xs-3 control-label">价格2：</label>
                                        <div class="col-xs-8">
                                            <div class="input-group">
                                                <input id="price2" name="price2" class="form-control"  number="true" min="0" type="text" ><span class="input-group-addon">元</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label class="col-xs-3 control-label">价格3：</label>
                                        <div class="col-xs-8">
                                            <div class="input-group">
                                                <input id="price3" name="price3" class="form-control" number="true" min="0"  type="text" ><span class="input-group-addon">元</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <label class="col-xs-3 control-label">会员价：</label>
                                        <div class="col-xs-8">
                                            <div class="input-group">
                                                <input id="pricem" name="pricem" class="form-control" number="true" min="0" type="text" ><span class="input-group-addon">元</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label class="col-xs-3 control-label">助记码：</label>
                                        <div class="col-xs-8">
                                            <input id="abc" name="abc" class="form-control"  type="text" >
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <label class="col-xs-3 control-label">单位：</label>
                                        <div class="col-xs-8">
                                            <select  id="unit" name="unit" class="form-control" minlength="1" type="text">
                                                <option value="">无</option>
                                                #foreach($unit in $units)
                                                    <option value="$!{unit.name}" hassubinfo="true">$!{unit.name}</option>
                                                #end
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label class="col-xs-3 control-label">状态：</label>
                                        <div class="col-xs-8">
                                            <select id="foodState" name="foodState" class="form-control" minlength="1" type="text">
                                                <option value="0">可用</option>
                                                <option value="1">不可用</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-xs-2 control-label">属性：</label>
                                    <div class="col-xs-10">
                                        #foreach($property in $properties)
                                            <label class="checkbox-inline i-checks">
                                                <input type="checkbox" name="property" value="$!{property.code}" #if($oper=="add"&&$!{property.defaultValue})checked#end>$!{property.desc}</label>
                                        #end
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label class="col-xs-3 control-label">打印机1：</label>
                                        <div class="col-xs-8">
                                            <select  id="printer1" name="printer1" class="form-control" minlength="1" type="text">
                                                <option value="">无</option>
                                                #foreach($printer in $printers)
                                                    <option value="$!{printer.name}" hassubinfo="true">$!{printer.name}</option>
                                                #end
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <label class="col-xs-3 control-label">打印机2：</label>
                                        <div class="col-xs-8">
                                            <select  id="printer2" name="printer2" class="form-control" minlength="1" type="text">
                                                <option value="">无</option>
                                                #foreach($printer in $printers)
                                                    <option value="$!{printer.name}" hassubinfo="true">$!{printer.name}</option>
                                                #end
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label class="col-xs-3 control-label">打印机3：</label>
                                        <div class="col-xs-8">
                                            <select  id="printer3" name="printer3" class="form-control" minlength="1" type="text">
                                                <option value="">无</option>
                                                #foreach($printer in $printers)
                                                    <option value="$!{printer.name}" hassubinfo="true">$!{printer.name}</option>
                                                #end
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <label class="col-xs-3 control-label">控菜打印机：</label>
                                        <div class="col-xs-8">
                                            <select  id="printerControl" name="printerControl" class="form-control" minlength="1" type="text">
                                                <option value="">无</option>
                                                #foreach($printer in $printers)
                                                    <option value="$!{printer.name}" hassubinfo="true">$!{printer.name}</option>
                                                #end
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label class="col-xs-3 control-label">厨打方案：</label>
                                        <div class="col-xs-8">
                                            <select  id="printerPolicy" name="printerPolicy" class="form-control" minlength="1" type="text">
                                                <option value="">无</option>
                                                #foreach($printerPolicy in $printerPolicies)
                                                    <option value="$!{printerPolicy.name}" hassubinfo="true">$!{printerPolicy.name}</option>
                                                #end
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- 选项卡3-->
                    <div id="tab-3" class="tab-pane">
                        <div class="col-xs-12">
                            <div class="ibox-content">
                                <div class="btn-group m-t" id="optionToolbar" role="group">
                                    <button type="button" id="addOptions" class="btn btn-outline btn-default">
                                        <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" id="editOptions" class="btn btn-outline btn-default">
                                        <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" id="lookOptions" class="btn btn-outline btn-default">
                                        <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" id="deleteOptions" class="btn btn-outline btn-default">
                                        <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <table id="optionsTable" class="table" data-classes="table table-hover table-condensed" data-mobile-responsive="true" >
                                    <thead>
                                    <tr>
                                        <th data-field="state" data-checkbox="true">
                                        <th data-formatter="Formatter.runningFormatter">序号</th>
                                        <th data-field="name">自定义项名称</th>
                                        <th data-field="options" data-formatter="Formatter.count">可选项</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- 选项卡4-->
                    <div id="tab-4" class="tab-pane">
                        <div class="col-xs-12">
                            <div class="ibox-content">
                                <div class="btn-group m-t" id="comboToolbar" role="group">
                                    <button type="button" id="addCombo" class="btn btn-outline btn-default">
                                        <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" id="editCombo" class="btn btn-outline btn-default">
                                        <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" id="lookCombo" class="btn btn-outline btn-default">
                                        <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" id="deleteCombo" class="btn btn-outline btn-default">
                                        <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <table id="combosTable" class="table" data-classes="table table-hover table-condensed" data-mobile-responsive="true" >
                                    <thead>
                                    <tr>
                                        <th data-field="state" data-checkbox="true">
                                        <th data-formatter="Formatter.runningFormatter">序号</th>
                                        <th data-field="name">品项名称</th>
                                        <th data-field="forceSelect" data-formatter="Formatter.bool">是否必选</th>
                                        <th data-field="options" data-formatter="Formatter.count">可选菜品</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="$URL/asset/bk/js/jquery.min.js?v=2.1.4"></script>
<script src="$URL/asset/bk/js/bootstrap.min.js?v=3.3.6"></script>
<script src="$URL/asset/bk/js/plugins/iCheck/icheck.min.js"></script>
<script src="$URL/asset/bk/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="$URL/asset/bk/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="$URL/asset/bk/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="$URL/asset/bk/js/plugins/layer/layer.min.js"></script>
<script src="$URL/asset/bk/js/plugins/layer/laydate/laydate.js"></script>
<script src="$URL/asset/bk/js/plugins/validate/jquery.validate.min.js"></script>
<script src="$URL/asset/bk/js/plugins/validate/messages_zh.min.js"></script>
<script src="$URL/asset/bk/js/plugins/webuploader/webuploader.min.js"></script>
<script src="$URL/asset/bk/my-selector.js?v=fdd"></script>
<script src="$URL/asset/bk/js/jquery-ui-1.10.4.min.js"></script>
<script src="$URL/asset/bk/js/plugins/chosen/chosen.jquery.js"></script>
    #parse("templates/common/foot.vm")
<script>
    $(document).ready(function () {
        $(".i-checks").iCheck({checkboxClass: "icheckbox_square-green", radioClass: "iradio_square-green",});
    });

    //判断当前大小类
    var childrenId = parent.localChildrenId;
    var categoryId = childrenId.substr(0, 2);
    $("select[name=categoryId]").val(categoryId);
    refreshChildrenOption();

    var combos = [];
    var options = [];

    if("add" != "$oper"){
        var parentEditObj = parent.Global.editObj;
        console.log(parentEditObj)
        if(!isNull(parentEditObj.combo)){
            combos = parentEditObj.combo;
            jQuery.each(combos, function (i, item) {//重新编号
                item.id = i;
            })
        }
        if(!isNull(parentEditObj.options)){
            options = parentEditObj.options;
            jQuery.each(options, function (i, item) {//重新编号
                item.id = i;
            })
        }

        iniDataToForm(parentEditObj, function(){
            if(parentEditObj.type != 1){
                $(".type-suite").addClass("hidden");
            }
            var printersStr = parentEditObj.printersStr;
            if(!isNull(printersStr)){
                var printers = printersStr.split(",");
                $("select[name='printersStr']").val(printers)
            }
            if(!isNull(parentEditObj.property)){//字符串
                jQuery.each(parentEditObj.property, function (i, value) {
                    $("input[name='property'][value=" + value + "]").iCheck('check');
                })
            }
            if (!isNull(parentEditObj.refId)){//引用的菜不可编辑相关字段
                disableRefArea();
            }
        });
    }

    $("#optionsTable").bootstrapTable({
        data : options
    })
    $("#combosTable").bootstrapTable({
        data : combos
    })

    initEdit({
        name : "品项",
        table : "#combosTable",
        addButton : "#addCombo",
        editButton : "#editCombo",
        lookButton : "#lookCombo",
        layerType : 2,
        content : "$URL/merchant/admin/food/comboInput",
        area : ['90%', '90%']
    })
    initEdit({
        name : "项",
        table : "#optionsTable",
        addButton : "#addOptions",
        editButton : "#editOptions",
        lookButton : "#lookOptions",
        layerType : 2,
        content : "$URL/merchant/admin/food/optionInput",
        area : ['90%', '90%']
    })

    $("select[name='categoryId']").change(function(){
        refreshChildrenOption();
    });
    //获取大类
    function getCategoryById(cateId){
        var categories = $!{categories};
        var category = null;
        jQuery.each(categories, function(i, cate){
            if(cateId == cate.id){
                category = cate;
            }
        })
        return category;
    }
    //大小类联动
    function refreshChildrenOption(){
        var categoryId = $("#categoryId").val();
        var category = getCategoryById(categoryId);
        var children = category.children;
        var options = " ";
        var currentChildrenId = parent.getCurrentChildrenId();
        if(undefined != children && children.length > 0){
            jQuery.each(children, function(i, child){
                options += "<option value='" + child.id + "'";
                if(child.id == currentChildrenId){
                    options += " selected";
                }
                options += ">" + child.name + "</option>";
            })
        }
        $("select[name='cat']").html(options);
    }

    $("#submit").on("click", function(){
        $("a[href='#tab-1']").tab('show');
        $('#signupForm').submit();
    })
    //初始化表单
    $("#signupForm").validate({submitHandler: function() {
        var formData = getDataFromForm("signupForm");
        var combo = $("#combosTable").bootstrapTable("getData");
        var options = $("#optionsTable").bootstrapTable("getData");
        formData.combo = combo;
        formData.options = options;
        if(!isNull(formData.property)){
            formData.property = formData.property.split(",");
        }
        layer.load();
        jQuery.ajax({
            url : "$URL/merchant/admin/food/editFood",
            data : {dataStr : JSON.stringify(formData), oper : "$oper"},
            type : "post",
            success : function(res){
                if(res.resultCode == 'SUCCESS'){
                    layer.msg("操作成功！");
                    layer.closeAll("loading");
                    closeCurrentLayerPage();
                }else {
                    layer.alert(res.errCodeDesc);
                    layer.closeAll("loading");
                }
            }
        })
    }});

    //绑定表单删除按钮
    bindDeleteTr("#deleteCombo", "#combosTable", "id");
    bindDeleteTr("#deleteOptions", "#optionsTable", "name");

    //当菜品为引用菜品时，禁止修改相关信息
    function disableRefArea() {
        $("input[name='name']").attr("disabled", true);
        $("input[name='price1']").attr("disabled", true);
        $("input[name='price2']").attr("disabled", true);
        $("input[name='price3']").attr("disabled", true);
        $("input[name='pricem']").attr("disabled", true);
        $("#addOptions").addClass("hidden");
        $("#editOptions").addClass("hidden");
        $("#deleteOptions").addClass("hidden");
        $("#editCombo").addClass("hidden");
        $("#addCombo").addClass("hidden");
        $("#deleteCombo").addClass("hidden")
    }

</script>

</body>
</html>
