<!DOCTYPE html>
<html>
<head>
    #parse("templates/common/base-bk.vm")
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title></title>
     <link href="$URL/asset/bk/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="$URL/asset/bk/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="$URL/asset/bk/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/animate.min.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="$URL/asset/bk/plugins/webuploader/webuploader.css" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox-content">
                #*<div class="btn-group m-t" id="exampleToolbar" role="group">
                    <button type="button" id="addDiscountRule" class="btn btn-outline btn-default">
                        <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                    </button>
                    <button type="button" id="editDiscountRule" class="btn btn-outline btn-default">
                        <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                    </button>
                    <button type="button" id="lookDiscountRule" class="btn btn-outline btn-default">
                        <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
                    </button>
                    <button type="button" id="deleteDiscountRule" class="btn btn-outline btn-default">
                        <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                    </button>
                </div>*#
                <form class="form-horizontal" id="signupForm" method="post">
                    <table id="cardImportPreview"
                           class="table"
                           data-classes="table table-hover table-condensed"
                           data-mobile-responsive="true"
                           data-height="400"
                           data-pagination="true"
                           data-page-list="[5, 10, 20, 50, 100, 200]"
                           data-page-size="15">
                        <thead>
                        <tr>
                            <th data-field="name">名称</th>
                            <th data-field="type" data-formatter="foodTypeFormatter">类型</th>
                            <th data-field="cateId">小类编号</th>
                            <th data-field="price1">价格1</th>
                            <th data-field="price2">价格2</th>
                            <th data-field="price3">价格3</th>
                            <th data-field="pricem">会员价</th>
                            <th data-field="pass" data-formatter="passFormatter">可生成</th>
                        </tr>
                        </thead>
                    </table>
                    <div class="form-group">
                        <div class="col-sm-7 col-sm-offset-5">
                            #if($oper != "look")
                                <button class="btn btn-primary" type="submit">确认提交</button>
                            #end
                            <button class="btn btn-primary" type="button" id="closeLayer">关闭</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="$URL/asset/bk/js/jquery.min.js?v=2.1.4"></script>
<script src="$URL/asset/bk/js/bootstrap.min.js?v=3.3.6"></script>
<script src="$URL/asset/bk/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="$URL/asset/bk/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="$URL/asset/bk/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="$URL/asset/bk/js/plugins/layer/layer.min.js"></script>
<script src="$URL/asset/bk/js/plugins/validate/jquery.validate.min.js"></script>
<script src="$URL/asset/bk/js/plugins/validate/messages_zh.min.js"></script>
<script src="$URL/asset/bk/my-selector.js?v=fdd"></script>
    #parse("templates/common/foot.vm")
<script>
    $("#cardImportPreview").bootstrapTable({
        data: parent.importingData
    });

    function foodTypeFormatter(value){
        if(value==1){
            return "套餐";
        }else {
            return "单品";
        }
    }

    function passFormatter(value, row, index){
        if(row.pass){
            return "<i class='fa fa-check-circle' style='color:green'></i>";
        }else{
            return "<i class='fa fa-ban' style='color:red'></i> " + row.noPassReason
        }
    }

    //初始化表单
    $("#signupForm").validate({submitHandler: function() {
        var cards = $("#cardImportPreview").bootstrapTable("getData");
        jQuery.ajax({
            url : "$URL/merchant/admin/food/foodImportSubmit",
            data : {dataStr : JSON.stringify(cards)},
            type : "post",
            success : function(res){
                if(res.resultCode == 'SUCCESS'){
                    layer.closeAll("loading");
                    layer.msg("成功导入" + res.result + "个菜品");
                    setTimeout(function(){
                        closeCurrentLayerPage();
                    },2000);
                }else {
                    layer.alert(res.errCodeDesc);
                    layer.closeAll("loading");
                }
            }
        })
    }});


</script>

</body>
</html>
