<!DOCTYPE html>
<html>
<head>
    #parse("templates/common/base-bk.vm")
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
     <link href="$URL/asset/bk/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="$URL/asset/bk/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="$URL/asset/bk/css/plugins/jsTree/style.min.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/animate.min.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="$URL/asset/bk/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/plugins/chosen/chosen.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/plugins/iCheck/custom.css" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="tabs-container">
                <div class="pull-right">
                    <button class="btn btn-primary" type="submit" id="submit""><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;预览</button>
                    <button class="btn btn-primary" type="button" id="closeLayer"><i class="glyphicon glyphicon-remove"></i>&nbsp;关闭</button>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active" id="tab-base"><a data-toggle="tab" href="#tab-1" aria-expanded="true">选择菜品</a>
                    </li>
                </ul>
                <div class="ibox-content">
                    <form class="form-horizontal" id="signupForm" method="post">
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label class="col-xs-4 control-label">分类方式：</label>
                                <div class="col-xs-8">
                                    <select  id="classifyType" name="classifyType" class="form-control" minlength="1" type="text">
                                        <option value="0">同步总店的分类</option>
                                        <option value="1">引用到指定分类</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group hidden" id="classifyType1Dom">
                            <div class="col-xs-6">
                                <label class="col-xs-4 control-label">大类：</label>
                                <div class="col-xs-8">
                                    <select  id="categoryId" name="categoryId" class="form-control" minlength="1" type="text" required >
                                        #foreach($cate in $!categories)
                                            <option value="$!{cate.id}" data-children="$!{cate.children}">$!{cate.name}</option>
                                        #end
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <label class="col-xs-4 control-label">小类：</label>
                                <div class="col-xs-8">
                                    <select  id="cat" name="cat" class="form-control" minlength="1" type="text" required >
                                        #foreach($cate in $!categories)
                                            #if($velocityCount == 1)
                                                #foreach($child in ${cate.children})
                                                    <option value="$!{child.id}">$!{child.name}</option>
                                                #end
                                            #end
                                        #end
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div id="tab-1" class="form-group">
                            <div class="col-xs-3" style="padding:5px;">
                                <div class="ibox float-e-margins" style="border: solid #e7eaec">
                                    <div class="ibox-title">
                                        <h5>分类</small></h5>
                                        <div class="ibox-tools">
                                            <a class="collapse-link">
                                                <i class="fa fa-chevron-up"></i>
                                            </a>
                                            <a class="close-link">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ibox-content" style="min-height: 542px;padding-left:0px">
                                        <input type="hidden" id="childrenId" value="$!{superCategories.get(0).children.get(0).id}">
                                        <div id="jstree1">
                                            <ul>
                                                #foreach($category in $!{superCategories})
                                                    <li  class="jstree-open" data-jstree='{"type":"second"}'>
                                                        $!{category.id}-$!{category.name}
                                                        <ul>
                                                            #foreach($child in ${category.children})
                                                                <li data-jstree='{"type":"third"}'class="#if($velocityCount == 1&&$firstCount == 1)jstree-clicked#end " onclick="javascript:chooseChildren('$!{child.id}')">$!{child.id}-$!{child.name}</li>
                                                            #end
                                                        </ul>

                                                    </li>
                                                #end
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4" style="padding:5px">
                                <div class="ibox float-e-margins" style="border: solid #e7eaec">
                                    <div class="ibox-title">
                                        <h5>可选菜</small></h5>
                                        <div class="ibox-tools">
                                            <a class="collapse-link">
                                                <i class="fa fa-chevron-up"></i>
                                            </a>
                                            <a class="close-link">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ibox-content">
                                        <table id="notSelectedTable" class="table" data-classes="table table-hover table-condensed"  data-striped="true" data-height="505"
                                               data-pagination="true"
                                               data-page-size="10">
                                            <thead>
                                            <tr>
                                                <th data-field="state" data-checkbox="true">
                                                <th data-field="name">名称</th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-1" style="padding:5px">
                                <br/><br/><br/><br/><br/><br/>
                                <button type="button" id="keepRenderingSort_rightAll" class="btn btn-block"><i class="glyphicon glyphicon-forward"></i></button><br/>
                                <button type="button" id="keepRenderingSort_rightSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button><br/><br/><br/>
                                <button type="button" id="keepRenderingSort_leftSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button><br/>
                                <button type="button" id="keepRenderingSort_leftAll" class="btn btn-block"><i class="glyphicon glyphicon-backward"></i></button>
                            </div>
                            <div class="col-xs-4" style="padding:5px">
                                <div class="ibox float-e-margins" style="border: solid #e7eaec">
                                    <div class="ibox-title">
                                        <h5>已选中</small></h5>
                                        <div class="ibox-tools">
                                            <a class="collapse-link">
                                                <i class="fa fa-chevron-up"></i>
                                            </a>
                                            <a class="close-link">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ibox-content">
                                        <table id="selectedTable" class="table" data-classes="table table-hover table-condensed"  data-striped="true" data-height="505"
                                               data-pagination="true"
                                               data-page-size="10">
                                            <thead>
                                            <tr>
                                                <th data-field="state" data-checkbox="true">
                                                <th data-field="name">名称</th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="$URL/asset/bk/js/jquery.min.js?v=2.1.4"></script>
<script src="$URL/asset/bk/js/bootstrap.min.js?v=3.3.6"></script>
<script src="$URL/asset/bk/js/plugins/iCheck/icheck.min.js"></script>
<script src="$URL/asset/bk/js/plugins/jsTree/jstree.min.js"></script>
<script src="$URL/asset/bk/js/plugins/layer/layer.min.js"></script>
<script src="$URL/asset/bk/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="$URL/asset/bk/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="$URL/asset/bk/my-selector.js?v=$timestamp"></script>
<script src="$URL/asset/bk/js/plugins/chosen/chosen.jquery.js"></script>
#parse("templates/common/foot.vm")
<script>

    $("#jstree1").jstree({
        "core": {"check_callback": true},
        "plugins": ["types", "dnd"],
        "types": {
            "default": {"icon": "fa fa-tag"},
            "top": {"icon": "glyphicon glyphicon-menu-hamburger"},
            "second" : {"icon": "glyphicon glyphicon-stop"},
            "third" : {"icon": "glyphicon glyphicon-triangle-right"}
        }
    });

    $(function () {
        //初始化控件
        MySelector.init({
            refreshUnselectedTable : function(){
                var childrenId = $("#childrenId").val();
                jQuery.ajax({
                    url: "$URL/merchant/admin/food/findSuperFood?cateChildrenId=" + childrenId,
                    type: "get",
                    async : false,
                    success : function(res){
                        MySelector.tableData1 = MySelector.filterData1ExitInData2(res, MySelector.getTableData2());
                        $("#notSelectedTable").bootstrapTable('load', {data: MySelector.tableData1});
                    }
                });
            }
        })

        $("#notSelectedTable").bootstrapTable({data: MySelector.tableData1});//初始化数据表1
        MySelector.refreshUnselectedTable();
        $('#selectedTable').bootstrapTable({
            data: MySelector.tableData2
        });
    });

    function chooseChildren(childrenId){
        $('#childrenId').val(childrenId);
        MySelector.refreshUnselectedTable();
    }

    $(document).ready(function () {
        $(".i-checks").iCheck({checkboxClass: "icheckbox_square-green", radioClass: "iradio_square-green",});
    });
    $('.chosen-select').chosen();

    //初始化菜品列表
    $("#combosTable").bootstrapTable({
        data: []
    });

    $("#submit").on("click", function(){
        var foods = $("#selectedTable").bootstrapTable("getData");
        var formData = getDataFromForm("signupForm");
        if(isNull(foods) || foods.length == 0){
            layer.alert("请先选中要设置的菜品");
            return;
        }

        jQuery.each(foods, function (i, food) {//置空门店配置信息
            food.printer1 = null;
            food.printer2 = null;
            food.printer3 = null;
            food.printerControl = null;
            food.printerPolicy = null;
        })
        parent.quoteFoods = foods;
        parent.quoteConfig = formData;
        location.href = "$URL/merchant/admin/food/quoteFromSuperPreview";
    })

    $("#classifyType").on("change", function () {
        if ($(this).val()==1){
            $("#classifyType1Dom").removeClass("hidden");
        }else {
            $("#classifyType1Dom").addClass("hidden");
        }
    })

    $("select[name='categoryId']").change(function(){
        refreshChildrenOption();
    });

    //获取大类
    function getCategoryById(cateId){
        var categories = $!{superCategories};
        var category = null;
        jQuery.each(categories, function(i, cate){
            if(cateId == cate.id){
                category = cate;
            }
        })
        return category;
    }

    //大小类联动
    function refreshChildrenOption(){
        var categoryId = $("#categoryId").val();
        var category = getCategoryById(categoryId);
        var children = category.children;
        var options = " ";
        var currentChildrenId = parent.getCurrentChildrenId();
        if(undefined != children && children.length > 0){
            jQuery.each(children, function(i, child){
                options += "<option value='" + child.id + "'";
                if(child.id == currentChildrenId){
                    options += " selected";
                }
                options += ">" + child.name + "</option>";
            })
        }
        $("select[name='cat']").html(options);
    }
</script>

</body>
</html>
