<!DOCTYPE html>
<html>
<head>
    #parse("common/base-bk.vm")
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>供应商</title>
     <link href="$URL/asset/bk/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="$URL/asset/bk/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="$URL/asset/bk/css/plugins/jsTree/style.min.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/animate.min.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="$URL/asset/bk/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content  animated fadeInRight">

    <div class="row">
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>区域</small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <div id="jstree1">
                        <ul>
                            <li class="jstree-open"  data-jstree='{"type":"svg"}'>区域
                                <ul>
                                    #foreach($area in $!{areas})
                                    <li #if($velocityCount == 1)class="jstree-clicked"#end onclick="refreshChildren('$!{area.id}', '$!{area.name}')">
                                        $!{area.id}-$!{area.name}
                                    </li>
                                    #end
                                </ul>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <!-- Example Events -->
            <div class="example-wrap">
                <div class="ibox-content">
                    <div id="toolbar" class="btn-group">
                        <button type="button" class="btn btn-default add">
                            <i class="glyphicon glyphicon-plus"></i>&nbsp;新建
                        </button>
                    </div>
                    <table id="table" data-height="700"
                           data-toggle="table"
                           data-striped="true"
                           data-query-params="queryParams"
                           data-pagination="true"
                           data-search="true"
                           data-show-refresh="true"
                           data-show-toggle="true"
                           data-show-columns="true"
                           data-page-list="[5, 10, 20, 50, 100, 200]"
                           data-page-size="15"
                           data-toolbar="#toolbar" data-mobile-responsive="true"
                           data-show-export="true"
                           data-export-data-type="all">
                        <thead>
                        <tr>
                        ##                                    <th data-field="state" data-checkbox="true"></th>
                            <th data-field="no">编号</th>
                            <th data-field="name">名称</th>
                            <th data-field="contactName">联系人</th>
                            <th data-field="tel">电话</th>
                            <th data-formatter="rudFormatter" data-events="rudEvents">操作</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="edit-content">
    <div class="tabs-container">
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="ibox-content">
                    <form class="form-horizontal" id="signupForm" method="post">
                        <input type="hidden" name="oper" value="$!oper">
                        <input type="hidden" name="areaId">

                        <div class="form-group">
                            <div class="col-xs-6">
                                <label class="col-xs-3 control-label">编号：</label>
                                <div class="col-xs-8">
                                    <input id="no" name="no" class="form-control" minlength="1" type="text" readonly >
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <label class="col-xs-3 control-label">名称：</label>
                                <div class="col-xs-8">
                                    <input id="name" name="name" class="form-control" minlength="1" type="text" required >
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label class="col-xs-3 control-label">地址：</label>
                                <div class="col-xs-8">
                                    <input id="address" name="address" class="form-control"  type="text" required >
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <label class="col-xs-3 control-label">邮编：</label>
                                <div class="col-xs-8">
                                    <input id="postCode" name="postCode" class="form-control" type="text" >
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label class="col-xs-3 control-label">联系人：</label>
                                <div class="col-xs-8">
                                    <input id="contactName" name="contactName" class="form-control"  type="text" >
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <label class="col-xs-3 control-label">电话：</label>
                                <div class="col-xs-8">
                                    <input id="tel" name="tel" class="form-control" type="text" >
                                </div>
                            </div>
                        </div>
                        <div class="form-group toolbar">
                            <div class="col-sm-7 col-sm-offset-5">
                                <button class="btn btn-primary" type="submit">提交</button>
                                <button class="btn btn-primary" type="button" id="closeLayer">关闭</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</script>
<script src="$URL/asset/bk/js/jquery.min.js?v=2.1.4"></script>
<script src="$URL/asset/bk/js/bootstrap.min.js?v=3.3.6"></script>
<script src="$URL/asset/bk/js/content.min.js?v=1.0.0"></script>
<script src="$URL/asset/bk/js/plugins/jsTree/jstree.min.js"></script>
<script src="$URL/asset/bk/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="$URL/asset/bk/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="$URL/asset/bk/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="$URL/asset/bk/js/plugins/layer/layer.min.js"></script>
<script src="$URL/asset/bk/js/plugins/layer/laydate/laydate.js"></script>
<script src="$URL/asset/bk/js/plugins/validate/jquery.validate.min.js"></script>
<script src="$URL/asset/bk/js/plugins/validate/messages_zh.min.js"></script>
<script src="$URL/asset/bk/js/bootstrap-table-export.js?v=1"></script>
<script src="$URL/asset/bk/js/tableExport.js"></script>
#parse("common/foot.vm")
<style>
    .jstree-open>.jstree-anchor>.fa-folder:before{content:"\f07c"}.jstree-default .jstree-icon.none{width:0}
</style>
<script>
    #if($!areas && $!{areas.get(0)})
        #set($firstArea=$!{areas.get(0)})
    #end
    var localAreaId = "$!{firstArea.id}";
    var localAreaName = "$!{firstArea.name}";
    $(document).ready(function () {
        $("#jstree1").jstree({
            "core": {"check_callback": true},
            "plugins": ["types", "dnd"],
            "types": {
                "default": {"icon": "fa fa-tag"},
                "svg": {"icon": "glyphicon glyphicon-th-list"}
            }
        });
    });

    $("#table").bootstrapTable({
        url: "$URL/merchant/admin/purchase/getSuppliers?areaId=$!{firstArea.id}",
        responseHandler : "responseHandler"
    });

    function refreshChildren(areaId, areaName){
        $("input[class='form-control']").val(areaName);
        localAreaId = areaId;
        localAreaName = areaName;
        $("#table").bootstrapTable('refresh', {url: '$URL/merchant/admin/purchase/getSuppliers?areaId=' + localAreaId,
            responseHandler : "responseHandler"});
    }

    function currentCateName(){
        return localAreaName;
    }

    function getCurrentCateId(){
        return localAreaId;
    }

    //初始化增删改查配置
    initEdit({
        name : "小类",
        addButton : ".add",
        editButton : ".edit",
        deleteButton : ".delete",
        lookButton : ".look",
        editUrl : "$URL/merchant/admin/purchase/editSupplier",
        area : ['80%', '350px'],
        afterInitAddContent : function(){
            $("input[name='areaId']").val(getCurrentCateId());
        },
        afterInitEditContent : function(){
            $("input[name='areaId']").val(getCurrentCateId());
        }
    })

</script>
</body>
</html>
