<!DOCTYPE html>
<html>
<head>
    #parse("templates/common/base-bk.vm")
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title></title>
     <link href="$URL/asset/bk/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="$URL/asset/bk/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="$URL/asset/bk/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/animate.min.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="$URL/asset/bk/plugins/webuploader/webuploader.css" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox-content">
                <form class="form-horizontal" id="importCardsForm" method="post" enctype="multipart/form-data" action="$URL/merchant/admin/coupon/importCouponsPreview">
                    <div class="form-group m-t-lg">
                        <label class="col-sm-2 control-label">适用范围：</label>
                        <div class="col-sm-4">
                            <div class="radio i-checks">
                                <label>
                                    <input type="radio" value="false" name="isPublic"  checked> <i></i>本店的券</label>
                                <label>
                                    <input type="radio" value="true" name="isPublic"> <i></i>总店的券</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group medium-card">
                        <label class="col-sm-2 control-label">可用期限：</label>
                        <div class="col-sm-4">
                            <div class="input-daterange input-group" id="datepicker">
                                <input name="startTime" data-type="date" class="form-control" type="text" >
                                <span class="input-group-addon">到</span>
                                <input id="abc" name="endTime" data-type="date" class="form-control" type="text" >
                            </div>
                        </div>
                        <label class="col-sm-2 control-label">券类型：</label>
                        <div class="col-sm-4">
                            <select  id="cardTypeIdStr" name="cardTypeIdStr" class="form-control private-type" minlength="1" type="text" required>
                                #foreach($cardType in $!couponTypes)
                                    <option value="$!{cardType.objectIdStr}" class="private-type">$!{cardType.name}</option>
                                #end
                            </select>
                            <select  id="cardTypeIdStr" name="cardTypeIdStr" class="form-control public-type hidden" disabled="true" minlength="1" type="text" required>
                                #foreach($cardType in $!publicCardType)
                                    <option value="$!{cardType.objectIdStr}" class="public-type hidden">$!{cardType.name}</option>
                                #end
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">选择Excel文件：</label>
                        <div class="col-sm-4">
                            <input name="file" class="form-control"  type="file" required>
                        </div>
                        <label class="col-sm-2 control-label"><a href="javascript:lookFormate()">查看文件格式</a></label>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">是否激活：</label>
                        <div class="col-xs-4">
                            <div class="radio i-checks">
                                <label>
                                    <input type="radio" value="0" name="cardState" checked> <i></i> 未激活</label>
                                <label>
                                    <input type="radio" value="1" name="cardState"> <i></i> 已激活</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group toolbar">
                        <div class="col-sm-7 col-sm-offset-5 m-t-lg">
                            #if($oper != "look")
                                <button class="btn btn-primary" type="submit">预览</button>
                            #end
                            <button class="btn btn-primary" type="button" id="closeLayer">关闭</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="$URL/asset/bk/js/jquery.min.js?v=2.1.4"></script>
<script src="$URL/asset/bk/js/bootstrap.min.js?v=3.3.6"></script>
<script src="$URL/asset/bk/js/plugins/iCheck/icheck.min.js"></script>
<script src="$URL/asset/bk/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="$URL/asset/bk/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="$URL/asset/bk/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="$URL/asset/bk/plugins/layer/layer.js"></script>
<script src="$URL/asset/bk/js/plugins/layer/laydate/laydate.js"></script>
<script src="$URL/asset/bk/js/plugins/validate/jquery.validate.min.js"></script>
<script src="$URL/asset/bk/js/plugins/validate/messages_zh.min.js"></script>
<script src="$URL/asset/bk/js/plugins/webuploader/webuploader.min.js"></script>
<script src="$URL/asset/bk/my-selector.js?v=fdd"></script>
    #parse("templates/common/foot.vm")
<script>
    $(document).ready(function(){$(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",})});

    $("input[name='medium']").on("ifChecked", function(){
        var medium = $(this).val();
        if(medium == 1){
            $(".medium-card").removeClass("hidden");
            $(".abstract-card").addClass("hidden")
        }else if(medium == 2){
            $(".medium-card").removeClass("hidden");
            $(".abstract-card").addClass("hidden")
        }else if(medium == 0){
            $(".medium-card").addClass("hidden");
            $(".abstract-card").removeClass("hidden")
        }
    })

    $("input[name='isPublic']").on("ifChecked", function(){
        var isPublic = $(this).val();
        if(isPublic == "true"){
            $(".public-type").removeClass("hidden").removeAttr("disabled");
            $(".private-type").addClass("hidden").attr("disabled", true);
        }else {
            $(".private-type").removeClass("hidden").removeAttr("disabled");
            $(".public-type").addClass("hidden").attr("disabled", true);
        }
    })

    function importPreview(){
        parent.layer.open({
            title:"导入券预览",
            type: 2,
            closeBtn: 1, //不显示关闭按钮
            shift: 2,
            maxmin: true,
            area: ['960px', '550px'],
            shadeClose: true, //开启遮罩关闭
            content: '$URL/merchant/admin/coupon/importCouponsPreview',
            end: function () {
                $("button[name='refresh']").click();
            },
            success : function(layero, index){
                closeCurrentLayerPage();
            }
        })
    }

    function lookFormate(){
        layer.photos({
            photos: {
                "title": "", //相册标题
                "id": 123, //相册id
                "start": 0, //初始显示的图片序号，默认0
                "data": [   //相册包含的图片，数组格式
                    {
                        "alt": "导入IC卡Excel格式",
                        "pid": 666, //图片id
                        "src": "$URL/asset/bk/img/example/import-coupon.jpg", //原图地址
                        "thumb": "" //缩略图地址
                    }
                ]
            }, //格式见API文档手册页
            anim: 0 //0-6的选择，指定弹出图片动画类型，默认随机
        });
    }

</script>

</body>
</html>
