<!DOCTYPE html>
<html>
<head>
    #parse("common/base-bk.vm")
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>会员卡列表</title>

     <link href="$URL/asset/bk/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="$URL/asset/bk/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="$URL/asset/bk/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/animate.min.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="$URL/asset/bk/css/plugins/iCheck/custom.css" rel="stylesheet">
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>条件筛选</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content" style="min-height:112px">
            <form class="form-horizontal" id="searchForm">
                <div class="col-sm-10 b-r m-t-sm">
                    <div class="form-group" style="margin-bottom:4px">
                        <label class="col-sm-2 control-label">编号:</label>
                        <div class="col-sm-3">
                            <input name="tagOrMemberName" class="form-control" type="text"/>
                        </div>
                        <label class="col-sm-2 control-label">券名称:</label>
                        <div class="col-sm-3">
                            <select name="cardTypeId" class="form-control" minlength="1" type="text">
                                <option value="">全部</option>
                                #foreach($couponType in $couponTypes)
                                    <option value="$!couponType.get_id()">$!{couponType.name}</option>
                                #end
                            </select>
                        </div>
                    </div>
                    <div class="form-group" style="margin-bottom:2px">
                        <label class="col-sm-2 control-label">适用范围:</label>
                        <div class="col-sm-3">
                            <select name="isPublic" class="form-control" minlength="1" type="text">
                                <option value="">全部</option>
                                <option value="true">总店</option>
                                <option value="false">本店</option>
                            </select>
                        </div>
                        <label class="col-sm-2 control-label">券状态:</label>
                        <div class="col-sm-3">
                            <select name="cardState" class="form-control" minlength="1" type="text">
                                <option value="">全部</option>
                                <option value="0">未激活</option>
                                <option value="1">已激活</option>
                                <option value="3">已使用</option>
                                <option value="4">已作废</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                #*<div class="form-group text-center m-t-xs" style="margin-bottom:5px">
                    <button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" type="button">快速<span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" id="addSingle">本月</a></li>
                        <li class="divider"></li>
                        <li><a href="#" id="addSuite">本周</a></li>
                    </ul>
                </div>*#
                    <div class="form-group text-center m-t-md">
                        <button class="btn btn-success btn-sm" type="submit">&nbsp;筛选&nbsp;</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Panel Other -->
    <div class="ibox float-e-margins">

        <div class="ibox-content">
            <div class="row row-lg">

                <div class="col-sm-12">
                    <!-- Example Events -->
                    <div class="example-wrap">
                        <div class="example">
                            <div id="toolbar" class="btn-group">
                                <button type="button" class="btn btn-default add">
                                    <i class="glyphicon glyphicon-plus"></i>&nbsp;新增券
                                </button>
                                <button type="button" class="btn btn-default" id="generateCoupons">
                                    <i class="fa fa-newspaper-o"></i>&nbsp;批量生成
                                </button>
                                <button type="button" class="btn btn-default" id="importCoupons">
                                    <i class="glyphicon glyphicon-import"></i>&nbsp;批量导入
                                </button>
                                #*<button type="button" class="btn btn-default edit">
                                    <i class="glyphicon glyphicon-pencil"></i>&nbsp;编辑
                                </button>
                                <button type="button" class="btn btn-default look">
                                    <i class="glyphicon glyphicon-search"></i>&nbsp;查看
                                </button>*#
                                #*<button type="button" class="btn btn-default closeFrame">
                                    <i class="glyphicon glyphicon-remove"></i>&nbsp;关闭
                                </button>*#
                            </div>
                            <table id="table" data-height="700"
                                   data-toggle="table"
                                   data-striped="true"
                                   data-query-params="queryParams"
                                   data-pagination="true"
                                   data-show-toggle="true"
                                   data-show-columns="true"
                                   data-page-list="[5, 10, 20, 50, 100, 200]"
                                   data-page-size="10"
                                   data-toolbar="#toolbar" data-mobile-responsive="true"
                                   data-show-export="true"
                                   data-export-data-type="all">
                                <thead>
                                <tr>
##                                    <th data-field="state" data-checkbox="true"></th>
##                                    <th data-formatter="Formatter.runningFormatter">序号</th>
                                    <th data-field="tagId" data-sortable="true">编号</th>
                                    <th data-field="objectIdStr" data-visible="false">卡号</th>
                                    <th data-field="name">名称</th>
                                    <th data-field="balance">券金额</th>
                                    <th data-field="cardState" data-formatter="Formatter.couponState">状态</th>
                                    <th data-field="createTime" data-formatter="Formatter.time">生成时间</th>
                                    <th data-formatter="couponFormatter" data-events="rudEvents"></th>
                                    <th class="col-xs-1" data-formatter="actionFormatter" data-events="actionEvents">操作</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <!-- End Example Events -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Panel Other -->
</div>
<script src="$URL/asset/bk/js/jquery.min.js?v=2.1.4"></script>
<script src="$URL/asset/bk/js/bootstrap.min.js?v=3.3.6"></script>
<script src="$URL/asset/bk/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="$URL/asset/bk/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="$URL/asset/bk/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="$URL/asset/bk/plugins/layer/layer.js"></script>
<script src="$URL/asset/bk/js/plugins/layer/laydate/laydate.js"></script>
<script src="$URL/asset/bk/js/plugins/validate/jquery.validate.min.js"></script>
<script src="$URL/asset/bk/js/plugins/validate/messages_zh.min.js"></script>
<script src="$URL/asset/bk/js/jquery-ui-1.10.4.min.js"></script>
<script src="$URL/asset/bk/js/plugins/iCheck/icheck.min.js"></script>
<script src="$URL/asset/bk/js/bootstrap-table-export.js?v=1"></script>
<script src="$URL/asset/bk/js/tableExport.js"></script>
#parse("common/foot.vm")
<script type="text/javascript">
    $("#table").bootstrapTable({
        data : []
    });

    initEdit({
        addButton : ".add",
        editButton : ".edit",
        lookButton : ".look",
        layerType : 2,
        name : "优惠券",
        content : "$URL/merchant/admin/coupon/couponInput",
        editUrl : "$URL/merchant/admin/coupon/couponEdit",
        area : ['90%', '400px'],
        afterClose : function () {
            $("#searchForm").submit();
        }
    })

    function couponFormatter(value, row, index){
        var buttons = ['<a class="btn btn-sm btn-white btn-bitbucket searchEvent"> <i class="glyphicon glyphicon-search"></i></a>'];
        if (row.cardState<=1){
            buttons.push('<a class="btn btn-sm btn-white btn-bitbucket editEvent"> <i class="glyphicon glyphicon-pencil"></i></a>');
        }
        return buttons.join("&nbsp;&nbsp;");
    }

    function actionFormatter(value, row, index){
        var buttons = [];
        if(row.cardState==0){
            buttons.push("<a class='btn btn-primary btn-xs activate-card' href='javascript:void(0)'>点击激活</a>");
        }else if(row.cardState<3){
            buttons.push("<a class='btn btn-success btn-xs disable-card' href='javascript:void(0)'>点击作废</a>");
        }
        return buttons.join('');
    }
    window.actionEvents = {
        'click .disable-card': function (e, value, row, index) {//激活卡
            layer.confirm('确定作废？', {
                btn: ['作废','取消'] //按钮
            }, function(){
                jQuery.ajax({
                    url : '$URL/merchant/admin/coupon/disableCoupon',
                    data : {tagId : row.tagId},
                    type : "post",
                    success : function(data){
                        if(data.resultCode == 'SUCCESS'){
                            layer.msg("已作废")
                            $("button[name='refresh']").click();
                        }else {
                            layer.alert(data.errCodeDesc);
                        }
                    }
                })
            }, function(){
                layer.closeAll("dialog");
            });
        },
        'click .activate-card': function (e, value, row, index) {//激活卡
            layer.confirm('确定激活？', {
                btn: ['激活','取消'] //按钮
            }, function(){
                jQuery.ajax({
                    url : '$URL/merchant/admin/coupon/activateCoupon',
                    data : {tagId : row.tagId},
                    type : "post",
                    success : function(data){
                        if(data.resultCode == 'SUCCESS'){
                            layer.msg("激活成功")
                            $("button[name='refresh']").click();
                        }else {
                            layer.alert(data.errCodeDesc);
                        }
                    }
                })
            }, function(){
                layer.closeAll("dialog");
            });
        }
    };


    $("#importCoupons").on("click", function(){
        layer.open({
            title:"批量导入券",
            type: 2,
            closeBtn: 1, //不显示关闭按钮
            shift: 2,
            maxmin: true,
            area: ['90%', '460px'],
            shadeClose: true, //开启遮罩关闭
            content: '$URL/merchant/admin/coupon/importCouponsForm',
            end: function () {
                $("button[name='refresh']").click();
            },
            success : function(layero, index){
            }
        })
    })

    $("#generateCoupons").on("click", function(){
        layer.open({
            title:"批量生成券",
            type: 2,
            closeBtn: 1, //不显示关闭按钮
            shift: 2,
            maxmin: true,
            area: ['90%', '460px'],
            shadeClose: true, //开启遮罩关闭
            content: '$URL/merchant/admin/coupon/generateCouponsForm',
            end: function () {
                $("button[name='refresh']").click();
            },
            success : function(layero, index){
            }
        })
    })

    //初始化筛选表单
    $("#searchForm").validate({submitHandler: function() {
        var formData = getDataFromForm("searchForm");
        layer.load();
        jQuery.ajax({
            url : "$URL/merchant/admin/coupon/getCouponList",
            data : {dataStr : JSON.stringify(formData)},
            type : "get",
            success : function(res){
                $("#table").bootstrapTable('load',{
                    data : responseHandler(res)
                });
                layer.closeAll("loading");
            }
        })
    }});

</script>
</body>
</html>
