<!DOCTYPE html>
<html>
<head>
    #parse("templates/common/base-bk.vm")
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title></title>
     <link href="$URL/asset/bk/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="$URL/asset/bk/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="$URL/asset/bk/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/animate.min.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="$URL/asset/bk/plugins/webuploader/webuploader.css" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="tabs-container">
                    <div class="pull-right">
                        #if($oper!='look')<button class="btn btn-primary" type="submit" id="submit""><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;保存</button>#end
                        <button class="btn btn-primary" type="button" id="closeLayer"><i class="glyphicon glyphicon-remove"></i>&nbsp;关闭</button>
                    </div>
                <ul class="nav nav-tabs">
                    <li class="active" id="tab-base"><a data-toggle="tab" href="#tab-1" aria-expanded="true"> 基本信息</a>
                    </li>
                    <li class="discount-coupon hidden" id="tab-base"><a data-toggle="tab" href="#tab-2" aria-expanded="true">优惠规则</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <!-- 选项卡1-->
                    <div id="tab-1" class="tab-pane active">
                        <div class="ibox-content">
                            <form class="form-horizontal" id="signupForm" method="post">
                                <input type="hidden" name="id" value="$!{cardType.id}">
                                <div class="form-group m-t-lg">
                                    <label class="col-sm-2 control-label">类型名称：</label>
                                    <div class="col-sm-4">
                                        <input name="name" class="form-control" minlength="1" type="text" required>
                                    </div>
                                    #if($!shopSuperFlag)
                                        <label class="col-sm-2 control-label">分店是否可用：</label>
                                        <div class="col-sm-4">
                                            <div class="radio i-checks">
                                                <label>
                                                    <input type="radio" value="false" name="isPublic"  checked> <i></i>否</label>
                                                <label>
                                                    <input type="radio" value="true" name="isPublic"> <i></i>是</label>
                                            </div>
                                        </div>
                                    #end
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">使用类型：</label>
                                    <div class="col-sm-4">
                                        <div class="radio i-checks">
                                            <label>
                                                <input type="radio" value="0" name="couponType"  checked> <i></i>现金抵扣</label>
                                            <label>
                                                <input type="radio" value="1" name="couponType"> <i></i>优惠折扣</label>
                                        </div>
                                    </div>
                                    <label class="col-sm-2 control-label cash-coupon">券抵用金额：</label>
                                    <div class="col-sm-4 cash-coupon">
                                        <input name="initBalance" class="form-control" minlength="1" digits="true" type="text" required>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">说明：</label>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <textarea type="text" name="cardDesc" class="form-control" rows="3" cols="100">$!{cardType.cardDesc}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- 选项卡1-->
                    <div id="tab-2" class="tab-pane">
                        <div class="ibox-content">
                            <form class="form-horizontal" id="signupForm" method="post">
                                <div class="btn-group m-t" id="exampleToolbar" role="group">
                                    <button type="button" id="addDiscountRule" class="btn btn-outline btn-default">
                                        <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" id="editDiscountRule" class="btn btn-outline btn-default">
                                        <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" id="lookDiscountRule" class="btn btn-outline btn-default">
                                        <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" id="deleteDiscountRule" class="btn btn-outline btn-default">
                                        <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <table id="discountRules" class="table" data-classes="table table-hover table-condensed" data-mobile-responsive="true"  data-height="280">
                                    <thead>
                                    <tr>
                                        <th data-field="state" data-checkbox="true">
                                        <th data-formatter="Formatter.runningFormatter">序号</th>
                                        <th data-field="name">名称</th>
                                        <th data-field="startTime" data-formatter="Formatter.date">开始时间</th>
                                        <th data-field="endTime" data-formatter="Formatter.date">结束时间</th>
                                        <th data-field="fitDaysCH">适用日</th>
                                        <th data-field="discountName">优惠</th>
                                    </tr>
                                    </thead>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="$URL/asset/bk/js/jquery.min.js?v=2.1.4"></script>
<script src="$URL/asset/bk/js/bootstrap.min.js?v=3.3.6"></script>
<script src="$URL/asset/bk/js/plugins/iCheck/icheck.min.js"></script>
<script src="$URL/asset/bk/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="$URL/asset/bk/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="$URL/asset/bk/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="$URL/asset/bk/js/plugins/layer/layer.min.js"></script>
<script src="$URL/asset/bk/js/plugins/layer/laydate/laydate.js"></script>
<script src="$URL/asset/bk/js/plugins/validate/jquery.validate.min.js"></script>
<script src="$URL/asset/bk/js/plugins/validate/messages_zh.min.js"></script>
<script src="$URL/asset/bk/js/plugins/webuploader/webuploader.min.js"></script>
<script src="$URL/asset/bk/my-selector.js?v=fdd"></script>
<script src="$URL/asset/bk/js/jquery-ui-1.10.4.min.js"></script>
#parse("templates/common/foot.vm")
<script>
    $(document).ready(function(){$(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",})});

    //加载上层编辑的数据
    if("add" != "$oper"){
        var parentEditObj = parent.Global.editObj;
        iniDataToForm(parentEditObj);
        if(parentEditObj.couponType==0){
            $(".cash-coupon").removeClass("hidden");
            $(".discount-coupon").addClass("hidden");
        }else {
            $(".cash-coupon").addClass("hidden");
            $(".discount-coupon").removeClass("hidden");
        }
    }

    //初始表数据
    var data = {
        discountRules : "add" != "$oper"?parent.Global.editObj.discountRules:[]
    };

    $(function () {
        //初始化图片上传控件
        initUploader({
            picker : "#picker"
        })
        //初始化优惠方案
        $("#discountRules").bootstrapTable({
            data: data.discountRules
        });
        //初始化可排序事件
        $( "#discountRules tbody" ).sortable();
        $( "#discountRules tbody" ).disableSelection();
        $( "#discountRules tbody" ).bind('sortupdate', function(event, ui) {
            tableSortRefresh("#discountRules");
        });

        $("#submit").on("click", function(){
            $('#signupForm').submit();
        })
        //初始化表单
        $("#signupForm").validate({submitHandler: function() {
            var formData = getDataFromForm("signupForm");
            var discountRules = $("#discountRules").bootstrapTable("getData");
            var couponType = $("input[name='couponType']").val();
            if(formData.couponType==1&&discountRules.length==0){
                layer.alert("请先添加优惠规则");
                return;
            }
            layer.load();
            jQuery.ajax({
                url : "$URL/merchant/admin/coupon/editCouponType",
                data : {dataStr : JSON.stringify(formData), discountRulesStr : JSON.stringify(discountRules), oper : "$oper"},
                type : "post",
                success : function(res){
                    if(res.resultCode == 'SUCCESS'){
                        layer.msg("操作成功！");
                        layer.closeAll("loading");
                        closeCurrentLayerPage();
                    }else {
                        layer.alert(res.errCodeDesc);
                        layer.closeAll("loading");
                    }
                }
            })
        }});
        //初始化优惠规则操作
        initEdit({
            name : "优惠规则",
            table : "#discountRules",
            addButton : "#addDiscountRule",
            editButton : "#editDiscountRule",
            lookButton : "#lookDiscountRule",
            deleteButton : "#deleteDiscountRule",
            layerType : 2,
            content : "$URL/merchant/admin/card/disountRulesInput",
            parameters : {cardTypeId : "$!{cardType.id}"},
            area : ['90%', '90%']
        })

        $("input[name='couponType']").on("ifChecked", function(){
            var couponType = $(this).val();
            if(couponType==0){
                $(".cash-coupon").removeClass("hidden");
                $(".discount-coupon").addClass("hidden");
            }else {
                $(".cash-coupon").addClass("hidden");
                $(".discount-coupon").removeClass("hidden");
            }
        })

    });

</script>

</body>
</html>
