<!DOCTYPE html>
<html>
<head>
    #parse("common/base-bk.vm")
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>卡列表</title>

     <link href="$URL/asset/bk/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="$URL/asset/bk/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="$URL/asset/bk/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/animate.min.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/style.min862f.css?v=4.1.0" rel="stylesheet">
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">

    <!-- Panel Other -->
    <div class="ibox float-e-margins">

        <div class="ibox-content">
            <div class="row row-lg">

                <div class="col-sm-12">
                    <!-- Example Events -->
                    <div class="example-wrap">
                        <div class="example">
                            <div id="toolbar" class="btn-group">
                                <button type="button" class="btn btn-default add">
                                    <i class="glyphicon glyphicon-plus"></i>&nbsp;新建
                                </button>
                                <button type="button" class="btn btn-default edit">
                                    <i class="glyphicon glyphicon-pencil"></i>&nbsp;编辑
                                </button>
                                <button type="button" class="btn btn-default delete">
                                    <i class="glyphicon glyphicon-trash"></i>&nbsp;删除
                                </button>
                                <button type="button" class="btn btn-default look">
                                    <i class="glyphicon glyphicon-search"></i>&nbsp;查看
                                </button>
                            </div>
                            <table id="table" data-height="700"
                                   data-toggle="table"
                                   data-striped="true"
                                   data-query-params="queryParams"
                                   data-pagination="true"
                                   data-search="true"
                                   data-show-refresh="true"
                                   data-show-toggle="true"
                                   data-show-columns="true"
                                   data-page-list="[5, 10, 20, 50, 100, 200]"
                                   data-page-size="15"
                                   data-toolbar="#toolbar" data-mobile-responsive="true">
                                <thead>
                                <tr>
                                ##                                    <th data-field="state" data-checkbox="true"></th>
                                    <th data-formatter="Formatter.runningFormatter">序号</th>
                                    <th data-field="name">名称</th>
                                    <th data-field="startTime" data-formatter="Formatter.date" >开始时间</th>
                                    <th data-field="endTime" data-formatter="Formatter.date">结束时间</th>
                                    <th data-field="minLine">最低消费</th>
                                    <th data-field="discountName">优惠</th>
                                    <th data-field="fitDaysCH">适用日</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <!-- End Example Events -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Panel Other -->
</div>
<script src="$URL/asset/bk/js/jquery.min.js?v=2.1.4"></script>
<script src="$URL/asset/bk/js/bootstrap.min.js?v=3.3.6"></script>
<script src="$URL/asset/bk/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="$URL/asset/bk/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="$URL/asset/bk/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="$URL/asset/bk/js/plugins/layer/layer.min.js"></script>
<script src="$URL/asset/bk/js/plugins/layer/laydate/laydate.js"></script>
<script src="$URL/asset/bk/js/plugins/validate/jquery.validate.min.js"></script>
<script src="$URL/asset/bk/js/plugins/validate/messages_zh.min.js"></script>
#parse("common/foot.vm")
<script type="text/javascript">
    $("#table").bootstrapTable({
        url: "$URL/merchant/admin/card/getDiscountRules?cardId=$!cardId",
        responseHandler : "responseHandler"
    });

    function typeFormatter(data){
        if(data)
            return '总店';
        else
            return '分店';
    }

    //初始化增删改查配置
    initEdit({
        layerType : 2,//用url弹框
        content : "$URL/merchant/admin/card/disountRulesInput?cardId=$!cardId",
        addButton : ".add",
        editButton : ".edit",
        deleteButton : ".delete",
        lookButton : ".look",
        editUrl : "$URL/merchant/admin/card/editDiscountRules?cardId=$!cardId",
        area : ['95%', '90%'],
    })

</script>
</body>
</html>
