<!DOCTYPE html>
<html>
<head>
    #parse("templates/common/base-bk.vm")
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <link href="$URL/asset/bk/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="$URL/asset/bk/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">

    <link href="$URL/asset/bk/css/animate.min.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/style.min862f.css?v=4.1.0" rel="stylesheet">

</head>

<body class="gray-bg">
<div class="row">
    <div class="col-sm-12">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="m-b-md">
                                <a href="project_detail.html#" class="btn btn-white btn-xs pull-right"></a>
                                <h2>流水号：$!{flow.seriesNumber}</h2>
                            </div>
                            <dl class="dl-horizontal">
                                <dt>操作：</dt>
                                <dd><span class="label label-primary">$toolUtil.getCardOptionName($!{flow.option})</span>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <dl class="dl-horizontal">
                                <dt class="m-b-sm">金额：</dt>
                                <dd>$!{flow.amount}</dd>
                                #if($!{flow.giftAmount})
                                    <dt class="m-b-sm">赠送金额：</dt>
                                    <dd>$!{flow.amount}</dd>
                                #end
                                <dt class="m-b-sm">上次卡余额：</dt>
                                <dd>$!{flow.lastBalance}</dd>
                                <dt class="m-b-sm">当前卡余额：</dt>
                                <dd>$!{flow.curBalance}
                                </dd>
                            </dl>

                        </div>
                        <div class="col-sm-7" id="cluster_info">
                            <dl class="dl-horizontal">

                                <dt class="m-b-sm">时间：</dt>
                                <dd>$dateUtil.formateDateToStr($!{flow.createTime}, 'yyyy-MM-dd hh:mm:ss')</dd>
                                <dt class="m-b-sm">操作者：</dt>
                                <dd>$!{flow.creator}</dd>
                                #if($!{flow.orderNo})
                                    <dt class="m-b-sm">关联订单号：</dt>
                                    <dd>$!{flow.orderNo}</dd>
                                #end
                                <dt class="m-b-sm">备注：</dt>
                                <dd>
                                    $!{flow.remark}
                                </dd>
                            </dl>
                        </div>
                    </div>
                    #*<div class="row">
                        <div class="col-sm-12">
                            <dl class="dl-horizontal">
                                <dt>当前进度</dt>
                                <dd>
                                    <div class="progress progress-striped active m-b-sm">
                                        <div style="width: 60%;" class="progress-bar"></div>
                                    </div>
                                    <small>当前已完成项目总进度的 <strong>60%</strong></small>
                                </dd>
                            </dl>
                        </div>
                    </div>*#
                </div>
            </div>
        </div>
    </div>
</div>
<script src="$URL/asset/bk/js/jquery.min.js?v=2.1.4"></script>
<script src="$URL/asset/bk/js/bootstrap.min.js?v=3.3.6"></script>
<script src="$URL/asset/bk/js/content.min.js?v=1.0.0"></script>
<script>
    $(document).ready(function(){$("#loading-example-btn").click(function(){btn=$(this);simpleLoad(btn,true);simpleLoad(btn,false)})});function simpleLoad(btn,state){if(state){btn.children().addClass("fa-spin");btn.contents().last().replaceWith(" Loading")}else{setTimeout(function(){btn.children().removeClass("fa-spin");btn.contents().last().replaceWith(" Refresh")},2000)}};
</script>

</body>
</html>
