<!DOCTYPE html>
<html>
<head>
    #parse("common/base-bk.vm")
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title></title>
     <link href="$URL/asset/bk/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="$URL/asset/bk/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="$URL/asset/bk/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/animate.min.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="$URL/asset/bk/plugins/webuploader/webuploader.css" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-xs-12">
            <div class="tabs-container">
                <form class="form-horizontal" id="signupForm" method="post">
                <div class="pull-right">
                    #if($oper!='look')<button class="btn btn-primary" type="submit" id="submit""><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;保存</button>#end
                    <button class="btn btn-primary" type="button" id="closeLayer"><i class="glyphicon glyphicon-remove"></i>&nbsp;关闭</button>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active" id="tab-base"><a data-toggle="tab" href="#tab-1" aria-expanded="true"> 卡信息</a>
                    </li>
                    <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">会员信息</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <!-- 选项卡1-->
                    <div id="tab-1" class="tab-pane active">
                        <div class="ibox-content">
                                <input type="hidden" name="_id" >
                                <input type="hidden" name="name" >
                            <input type="hidden" name="point" >
                            <input type="hidden" name="balance" >
                                <div class="form-group m-t-lg">
                                    <label class="col-xs-2 control-label">卡介质：</label>
                                    <div class="col-xs-6">
                                        <div class="radio i-checks">
                                        <label class="hidden abstract-card">
                                            <input type="radio" value="0" name="medium"> <i></i> 微会员</label>
                                        <label>
                                            <input type="radio" value="1" name="medium" checked> <i></i> IC卡</label>
                                            <label>
                                                <input type="radio" value="2" name="medium"> <i></i> 磁卡</label>
                                            <label>
                                                <input type="radio" value="3" name="medium"> <i></i> 明卡</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-2 control-label">适用范围：</label>
                                    <div class="col-xs-4">
                                        <div class="radio i-checks">
                                            <label>
                                                <input type="radio" value="false" name="isPublic"  checked> <i></i>本店会员</label>
                                            <label>
                                                <input type="radio" value="true" name="isPublic"> <i></i>总店会员</label>
                                        </div>
                                    </div>
                                    <label class="col-xs-2 control-label">会员类型：</label>
                                    <div class="col-xs-4">
                                        <select  id="cardTypeIdStr" name="cardTypeIdStr" class="form-control private-type" minlength="1" type="text" required>
                                            #foreach($cardType in $!cardTypes)
                                                <option value="$!{cardType.objectIdStr}" class="private-type">$!{cardType.name}</option>
                                            #end
                                        </select>
                                        <select  id="cardTypeIdStr" name="cardTypeIdStr" class="form-control public-type hidden" disabled="true" minlength="1" type="text" required>
                                            #foreach($cardType in $!publicCardType)
                                                <option value="$!{cardType.objectIdStr}" class="public-type hidden">$!{cardType.name}</option>
                                            #end
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group medium-card">
                                    <label class="col-xs-2 control-label">卡号：</label>
                                    <div class="col-xs-4">
                                        <input name="tagId" class="form-control" minlength="1" type="text" required>
                                    </div>
                                    <label class="col-xs-2 control-label">识别码：</label>
                                    <div class="col-xs-4">
                                        <input name="mediumKey" class="form-control" minlength="1" type="text" required>
                                    </div>
                                </div>
                                <div class="form-group m-t-lg">
                                    <label class="col-xs-2 control-label">可用期限：</label>
                                    <div class="col-xs-4">
                                        <div class="input-daterange input-group" id="datepicker">
                                            <input name="startTime" data-type="date" class="form-control" type="text" >
                                            <span class="input-group-addon">到</span>
                                            <input id="abc" name="endTime" data-type="date" class="form-control" type="text" >
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-2 control-label">是否激活：</label>
                                    <div class="col-xs-4">
                                        <div class="radio i-checks">
                                            <label>
                                                <input type="radio" value="0" name="cardState" checked> <i></i> 未激活</label>
                                            <label>
                                                <input type="radio" value="1" name="cardState"> <i></i> 已激活</label>
                                        </div>
                                    </div>
                                </div>
                                #*<div class="hr-line-dashed"></div>
                                <div class="form-group toolbar">
                                    <div class="col-xs-7 col-xs-offset-5 m-t-lg">
                                        #if($oper != "look")
                                            <button class="btn btn-primary" type="submit">提交</button>
                                        #end
                                        <button class="btn btn-primary" type="button" id="closeLayer">关闭</button>
                                    </div>
                                </div>*#
                        </div>
                    </div>
                    <!-- 选项卡2-->
                    <div id="tab-2" class="tab-pane">
                        <div class="ibox-content">
                            <div class="form-group m-t-lg">
                                <label class="col-xs-2 control-label">会员姓名：</label>
                                <div class="col-xs-4">
                                    <input name="memberName" class="form-control" type="text">
                                </div>
                                <label class="col-xs-2 control-label">性别：</label>
                                <div class="col-xs-4">
                                    <div class="radio i-checks">
                                        <label>
                                            <input type="radio" value="0" name="sex" checked> <i></i> 未知</label>
                                        <label>
                                            <input type="radio" value="1" name="sex"> <i></i> 男</label>
                                        <label>
                                            <input type="radio" value="2" name="sex"> <i></i> 女</label>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-xs-2 control-label">手机号：</label>
                                <div class="col-xs-4">
                                    <input name="tel" class="form-control"type="text" >
                                </div>
                                <label class="col-xs-2 control-label">生日：</label>
                                <div class="col-xs-4">
                                    <input name="birthDay" class="form-control" data-type="date" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="$URL/asset/bk/js/jquery.min.js?v=2.1.4"></script>
<script src="$URL/asset/bk/js/bootstrap.min.js?v=3.3.6"></script>
<script src="$URL/asset/bk/js/plugins/iCheck/icheck.min.js"></script>
<script src="$URL/asset/bk/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="$URL/asset/bk/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="$URL/asset/bk/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="$URL/asset/bk/js/plugins/layer/layer.min.js"></script>
<script src="$URL/asset/bk/js/plugins/layer/laydate/laydate.js"></script>
<script src="$URL/asset/bk/js/plugins/validate/jquery.validate.min.js"></script>
<script src="$URL/asset/bk/js/plugins/validate/messages_zh.min.js"></script>
<script src="$URL/asset/bk/js/plugins/webuploader/webuploader.min.js"></script>
<script src="$URL/asset/bk/my-selector.js?v=fdd"></script>
#parse("common/foot.vm")
<script>
    $(document).ready(function(){$(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",})});

    $("input[name='medium']").on("ifChecked", function(){
        var medium = $(this).val();
        if(medium == 1){
            $(".medium-card").removeClass("hidden");
            $(".abstract-card").addClass("hidden")
        }else if(medium == 2){
            $(".medium-card").removeClass("hidden");
            $(".abstract-card").addClass("hidden")
        }else if(medium == 0){
            $(".medium-card").addClass("hidden");
            $(".abstract-card").removeClass("hidden")
        }
    })

    $("input[name='isPublic']").on("ifChecked", function(){
        var isPublic = $(this).val();
        if(isPublic == "true"){
            $(".public-type").removeClass("hidden").removeAttr("disabled");
            $(".private-type").addClass("hidden").attr("disabled", true);
        }else {
            $(".private-type").removeClass("hidden").removeAttr("disabled");
            $(".public-type").addClass("hidden").attr("disabled", true);
        }
    })

    //加载上层编辑的数据
    if("add" != "$oper"){
        var parentEditObj = parent.Global.editObj;
        iniDataToForm(parentEditObj);
        if(parentEditObj.cardState > 0){
            $("input[name='cardState'][value='1']").iCheck('check');
            $("input[name='cardState']").iCheck('disable');
        }
        if(parentEditObj.medium==0){//微会员屏蔽相关选项
            $("input[name='medium']").iCheck("disable");
            $("input[name='isPublic']").iCheck("disable");
            $("input[name='startTime']").attr("readonly", true);
            $("input[name='endTime']").attr("readonly", true);
        }
    }

    //初始化表单
    $("#signupForm").validate({submitHandler: function() {
        var formData = getDataFromForm("signupForm");
        var discountRules = $("#discountRules").bootstrapTable("getData");
        var chargeRules = $("#chargeRules").bootstrapTable("getData");
        var fitShopIds = [];
        layer.load();
        jQuery.ajax({
            url : "$URL/merchant/admin/card/cardEdit",
            data : {dataStr : JSON.stringify(formData), discountRulesStr : JSON.stringify(discountRules), chargeRulesStr : JSON.stringify(chargeRules), oper : "$oper"},
            type : "post",
            success : function(res){
                if(res.resultCode == 'SUCCESS'){
                    layer.msg("操作成功！");
                    layer.closeAll("loading");
                    closeCurrentLayerPage();
                }else {
                    layer.alert(res.errCodeDesc);
                    layer.closeAll("loading");
                }
            }
        })
    }});

    /*$("select[name='cardTypeIdStr']").on("change", function(){
        var value = $(this).val();
        $("input[name='name'").val($(this).find("option[value='" + value + "']").text());
    })*/

</script>

</body>
</html>
