<!DOCTYPE html>
<html>
<head>
    #parse("common/base-bk.vm")
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>会员卡列表</title>

     <link href="$URL/asset/bk/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="$URL/asset/bk/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="$URL/asset/bk/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/animate.min.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="$URL/asset/bk/css/plugins/iCheck/custom.css" rel="stylesheet">
    <style>
        .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
            padding-right: 12px;
            padding-left: 12px
        }
    </style>
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>条件筛选</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content" style="min-height:132px">
            <form class="form-horizontal" id="searchForm">
                <div class="col-sm-11 b-r m-t-sm">
                    <div class="form-group" style="margin-bottom:4px">
                        <label class="col-sm-1 control-label">编号:</label>
                        <div class="col-sm-3">
                            <input name="tagOrMemberName" class="form-control" type="text"/>
                        </div>
                        <label class="col-sm-1 control-label">姓名:</label>
                        <div class="col-sm-3">
                            <input name="memberName" class="form-control" type="text"/>
                        </div>
                        <label class="col-sm-1 control-label">手机:</label>
                        <div class="col-sm-3">
                            <input name="tel" class="form-control" type="text"/>
                        </div>
                    </div>
                    <div class="form-group" style="margin-bottom:2px">
                        <label class="col-sm-1 control-label">介质:</label>
                        <div class="col-sm-3">
                            <select name="medium" class="form-control" minlength="1" type="text">
                                <option value="">全部</option>
                                <option value="1">IC卡</option>
                                <option value="2">磁卡</option>
                                <option value="3">名卡</option>
                            </select>
                        </div>
                        <label class="col-sm-1 control-label">类型:</label>
                        <div class="col-sm-3">
                            <select name="cardTypeId" class="form-control" minlength="1" type="text">
                                <option value="">全部</option>
                                #foreach($cardType in $cardTypes)
                                    <option value="$cardType.get_id()">$!{cardType.name}</option>
                                #end
                            </select>
                        </div>
                        #if($!shopSuperFlag)
                            <label class="col-sm-1 control-label">适用:</label>
                            <div class="col-sm-3">
                                <select name="isPublic" class="form-control" minlength="1" type="text">
                                    <option value="">全部</option>
                                    <option value="true">总店</option>
                                    <option value="false">本店</option>
                                </select>
                            </div>
                        #end
                    </div>
                    <div class="form-group" style="margin-bottom:2px">
                        <label class="col-sm-1 control-label">状态:</label>
                        <div class="col-sm-3">
                            <select name="cardState" class="form-control" minlength="1" type="text">
                                <option value="">全部</option>
                                <option value="0">未激活</option>
                                <option value="1">已激活</option>
                                <option value="2">已冻结</option>
                                <option value="4">已作废</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="form-group text-center m-t-md">
                        <button class="btn btn-success btn-sm" type="submit">&nbsp;筛选&nbsp;</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Panel Other -->
    <div class="ibox float-e-margins">

        <div class="ibox-content">
            <div class="row row-lg">

                <div class="col-sm-12">
                    <!-- Example Events -->
                    <div class="example-wrap">
                        <div class="example">
                            <div id="toolbar" class="btn-group">
                                <button type="button" class="btn btn-default add">
                                    <i class="glyphicon glyphicon-plus"></i>&nbsp;新增会员卡
                                </button>
                                <button type="button" class="btn btn-default" id="generateCards">
                                    <i class="fa fa-newspaper-o"></i>&nbsp;批量生成
                                </button>
                                <button type="button" class="btn btn-default" id="importCards">
                                    <i class="glyphicon glyphicon-import"></i>&nbsp;批量导入
                                </button>
                                #*<button type="button" class="btn btn-default edit">
                                    <i class="glyphicon glyphicon-pencil"></i>&nbsp;编辑
                                </button>
                                <button type="button" class="btn btn-default look">
                                    <i class="glyphicon glyphicon-search"></i>&nbsp;查看
                                </button>*#
                                #*<button type="button" class="btn btn-default" id="disableCard">
                                    <i class="glyphicon glyphicon-search"></i>&nbsp;注销
                                </button>*#
                                <button type="button" class="btn btn-default" id="cardCharge">
                                    <i class="glyphicon glyphicon-yen"></i>&nbsp;卡充值
                                </button>
                                #*<button type="button" class="btn btn-default closeFrame">
                                    <i class="glyphicon glyphicon-remove"></i>&nbsp;关闭
                                </button>*#
                            </div>
                            <table id="table" data-height="700"
                                   data-toggle="table"
                                   data-striped="true"
                                   data-query-params="queryParams"
                                   data-pagination="true"
                                   data-show-toggle="true"
                                   data-show-columns="true"
                                   data-page-list="[5, 10, 20, 50, 100, 200]"
                                   data-page-size="10"
                                   data-toolbar="#toolbar" data-mobile-responsive="true"
                                   data-show-export="true"
                                   data-export-data-type="all">
                                <thead>
                                <tr>
##                                    <th data-field="state" data-checkbox="true"></th>
##                                    <th data-formatter="Formatter.runningFormatter">序号</th>
                                    <th data-field="tagId" data-sortable="true">编号</th>
                                    <th data-field="objectIdStr" data-visible="false">卡号</th>
                                    <th data-field="name">卡名称</th>
                                    <th data-field="medium" data-formatter="Formatter.medium">介质</th>
                                    <th data-field="balance">余额</th>
                                    <th data-field="point">积分</th>
                                    <th data-field="cardState" data-formatter="Formatter.cardState">状态</th>
                                    <th data-formatter="cardsFormatter" data-events="rudEvents"></th>
                                    <th class="col-xs-1" data-formatter="actionFormatter" data-events="actionEvents">操作</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <!-- End Example Events -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Panel Other -->
</div>
<script type="text/html" id="charge-content">
    <div class="tabs-container" style="width:88%">
        <div class="tab-content">
            <form class="form-horizontal" id="chargeForm"  method="post">
                <input type="hidden" id="tagId" name="tagId" >
                <input type="hidden" id="objectIdStr" name="objectIdStr" >
                <div class="form-group m-t-lg">
                    <label class="col-sm-4 control-label">会员卡编号：</label>
                    <div class="col-sm-8">
                        <p class="form-control-static" id="tagIdText"></p>
                    </div>
                </div>
                <div class="form-group m-t-lg">
                    <label class="col-sm-4 control-label">余额：</label>
                    <div class="col-sm-8">
                        <p class="form-control-static" id="balance"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">充值金额：</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input type="text" name="chargeAmount" class="form-control" number="true" required> <span class="input-group-addon">元</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-5 m-t-lg">
                        <button class="btn btn-primary" type="submit">提交</button>
                        <button class="btn btn-primary" type="button" id="closeLayer">关闭</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</script>
<script type="text/html" id="import-content">
    <div class="tabs-container" style="width:88%">
        <div class="tab-content">
            <form class="form-horizontal" id="importCardsForm"  method="post">
                <div class="form-group m-t-lg">
                    <label class="col-sm-4 control-label">卡类型：</label>
                    <div class="col-sm-6">
                        <select class="form-control m-b" name="cardTypeId">
                            #foreach($cardType in $!cardTypes)
                                <option value="$!{cardType.objectIdStr}" >$!{cardType.name}</option>
                            #end
                        </select>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">卡介质：</label>
                    <div class="col-sm-6">
                        <div class="radio i-checks">
                            <label>
                                <input type="radio" value="1" name="medium" checked> <i></i> IC卡</label>
                            <label>
                                <input type="radio" value="2" name="medium"> <i></i> 磁卡</label>
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">选择Excel文件：</label>
                    <div class="col-sm-6">
                        <input name="file" class="form-control"  type="file" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-5 m-t-lg">
                        <button class="btn btn-primary" type="submit">提交</button>
                        <button class="btn btn-primary" type="button" id="closeLayer">关闭</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</script>
<script src="$URL/asset/bk/js/jquery.min.js?v=2.1.4"></script>
<script src="$URL/asset/bk/js/bootstrap.min.js?v=3.3.6"></script>
<script src="$URL/asset/bk/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="$URL/asset/bk/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="$URL/asset/bk/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="$URL/asset/bk/plugins/layer/layer.js"></script>
<script src="$URL/asset/bk/js/plugins/layer/laydate/laydate.js"></script>
<script src="$URL/asset/bk/js/plugins/validate/jquery.validate.min.js"></script>
<script src="$URL/asset/bk/js/plugins/validate/messages_zh.min.js"></script>
<script src="$URL/asset/bk/js/jquery-ui-1.10.4.min.js"></script>
<script src="$URL/asset/bk/js/plugins/iCheck/icheck.min.js"></script>
<script src="$URL/asset/bk/js/bootstrap-table-export.js?v=1"></script>
<script src="$URL/asset/bk/js/tableExport.js"></script>
#parse("common/foot.vm")
<script type="text/javascript">
    $("#table").bootstrapTable({
        data : []
    });

    initEdit({
        addButton : ".add",
        editButton : ".edit",
        lookButton : ".look",
        layerType : 2,
        name : "会员卡",
        content : "$URL/merchant/admin/card/cardInput",
        editUrl : "$URL/merchant/admin/card/cardEdit",
        area : ['90%', '490px'],
        afterClose : function () {
            $("#searchForm").submit();
        }
    })

    function actionFormatter(value, row, index){
        var buttons = [];
        if(isNull(row.mediumKey)){
            //未发卡
        }else if(row.cardState==0){
            buttons.push("<a class='btn btn-primary btn-xs activate-card' href='javascript:void(0)'>激活</a>");
        }else if(row.cardState==1){
            buttons.push("<a class='btn btn-success btn-xs switch-frozen-state' href='javascript:void(0)'>冻结</a>");
        }else if(row.cardState==2){
            buttons.push("<a class='btn btn-warning btn-xs switch-frozen-state' href='javascript:void(0)'>解冻</a>");
        }
        return buttons.join('');
    }
    window.actionEvents = {
        'click .switch-frozen-state': function (e, value, row, index) {//冻结解冻
            var optionName = row.cardState==1?"冻结":"解冻" ;
            layer.confirm('确定'+ optionName +'？', {
                btn: [optionName,'取消'] //按钮
            }, function(){
                jQuery.ajax({
                    url : '$URL/merchant/admin/card/frozenOrUnfrozenCard',
                    data : {tagId : row.tagId},
                    type : "post",
                    success : function(data){
                        if(data.resultCode == 'SUCCESS'){
                            layer.msg(optionName + "成功");
                            $("button[name='refresh']").click();
                        }else {
                            layer.alert(data.errCodeDesc);
                        }
                    }
                })
            }, function(){
                layer.closeAll("dialog");
            });
        },
        'click .activate-card': function (e, value, row, index) {//激活卡
            layer.confirm('确定激活？', {
                btn: ['激活','取消'] //按钮
            }, function(){
                jQuery.ajax({
                    url : '$URL/merchant/admin/card/activateCard',
                    data : {tagId : row.tagId},
                    type : "post",
                    success : function(data){
                        if(data.resultCode == 'SUCCESS'){
                            layer.msg("激活成功")
                            $("button[name='refresh']").click();
                        }else {
                            layer.alert(data.errCodeDesc);
                        }
                    }
                })
            }, function(){
                layer.closeAll("dialog");
            });
        }
    };

    //充值
    $("#cardCharge").on("click", function(){
        var selectedData = getSelectedRow("#table");
        layer.prompt({
            title: '输入要充值的卡编号',
            value : undefined==selectedData?'':selectedData.tagId,
            formType: 0 //prompt风格，支持0-2
        }, function(tagId){
            jQuery.ajax({
                url : "$URL/merchant/admin/card/getCardInfo?tagId=" + tagId,
                type : "post",
                success : function(res){
                    if(res.resultCode == "SUCCESS"){
                        layer.closeAll("dialog");
                        layer.open({
                            title:"卡充值",
                            type: 1,
                            closeBtn: 1, //不显示关闭按钮
                            shift: 2,
                            maxmin: true,
                            area: ['620px', '360px'],
                            shadeClose: true, //开启遮罩关闭
                            content: $("#charge-content").html(),
                            end: function () {
                                $("button[name='refresh']").click();
                            },
                            success : function(layero, index){
                                var cardInfo = res.result;
                                console.log(cardInfo)
                                $("#tagId").val(cardInfo.tagId);
                                $("#objectIdStr").val(cardInfo.objectIdStr);
                                $("#tagIdText").html(cardInfo.tagId);
                                $("#balance").html(cardInfo.balance + "元");

                                $("#chargeForm").validate({submitHandler: function() {
                                    submitEvent("$URL/merchant/admin/card/cardCharge", index, "", "chargeForm", function(data){
                                        if(data.errcode == 0){
                                            var successMsg = '充值成功！<br/>流水号：' + data.seriesNumber + '<br>上次剩余' + data.lastBalance + '，充值：' + data.chargeAmount + '，赠送金额' + data.giftAmount + '，现余额' + data.curBalance;
                                            layer.alert(successMsg, {
                                                skin: 'layui-layer-lan'
                                                ,closeBtn: 0
                                                ,shift: 4 //动画类型
                                            },function(){
                                                layer.close(index);
                                                layer.closeAll("dialog");
                                            });
                                            layer.closeAll("loading");
                                        }else {
                                            layer.alert(data.msg);
                                            layer.closeAll("loading");
                                        }
                                    });
                                }});
                                $("#closeLayer").on("click", function(){
                                    layer.close(index);
                                })
                            }
                        })
                    }else {
                        layer.msg(res.errCodeDesc)
                    }
                }
            })
        });
    })

    $("#importCards").on("click", function(){
        layer.open({
            title:"导入实体卡信息",
            type: 2,
            closeBtn: 1, //不显示关闭按钮
            shift: 2,
            maxmin: true,
            area: ['90%', '460px'],
            shadeClose: true, //开启遮罩关闭
            content: '$URL/merchant/admin/card/importCardsForm',
            end: function () {
                $("button[name='refresh']").click();
            },
            success : function(layero, index){
            }
        })
    })

    $("#generateCards").on("click", function(){
        layer.open({
            title:"批量生成卡",
            type: 2,
            closeBtn: 1, //不显示关闭按钮
            shift: 2,
            maxmin: true,
            area: ['90%', '460px'],
            shadeClose: true, //开启遮罩关闭
            content: '$URL/merchant/admin/card/generateCardsForm',
            end: function () {
                $("button[name='refresh']").click();
            },
            success : function(layero, index){
            }
        })
    })

    function cardsFormatter(value, row, index){
        var buttons = ['<a class="btn btn-sm btn-white btn-bitbucket searchEvent"> <i class="glyphicon glyphicon-search"></i></a>'];
        if (row.cardState<=1&&row.mediumKey!=undefined){
            buttons.push('<a class="btn btn-sm btn-white btn-bitbucket editEvent"> <i class="glyphicon glyphicon-pencil"></i></a>');
        }
        return buttons.join("&nbsp;&nbsp;");
    }

    //初始化筛选表单
    $("#searchForm").validate({submitHandler: function() {
        var formData = getDataFromForm("searchForm");
        layer.load();
        jQuery.ajax({
            url : "$URL/merchant/admin/card/getCardList",
            data : {dataStr : JSON.stringify(formData)},
            type : "get",
            success : function(res){
                $("#table").bootstrapTable('load',{
                    data : responseHandler(res)
                });
                layer.closeAll("loading");
            }
        })
    }});

</script>
</body>
</html>
