<!DOCTYPE html>
<html>
<head>
    #parse("templates/common/base-bk.vm")
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title></title>
     <link href="$URL/asset/bk/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="$URL/asset/bk/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="$URL/asset/bk/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/animate.min.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="$URL/asset/bk/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/plugins/clockpicker/clockpicker.css" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-xs-12">
            <div class="ibox-content">
                <form class="form-horizontal" id="signupForm"  method="post">
                    <input type="hidden" name="oper" value="$oper">
                    <input type="hidden" name="id">
                    <div class="form-group m-t-lg">
                        <label class="col-xs-2 control-label text-right">名称：</label>
                        <div class="col-xs-4">
                            <input id="name" name="name" class="form-control" minlength="1" type="text" required>
                        </div>
                        <label class="col-xs-2 control-label text-right">规则类型：</label>
                        <div class="col-xs-4">
                            <div class="radio i-checks" id="giftType">
                                <label>
                                    <input type="radio" value="1" name="giftType" checked> <i></i>定额赠送</label>
                                <label>
                                    <input type="radio" value="2" name="giftType" > <i></i> 比例赠送</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label text-right">起止日期：</label>
                        <div class="col-xs-4">
                            <div class="input-daterange input-group" id="datepicker">
                                <input name="startTime" data-type="date" class="form-control" type="text" >
                                <span class="input-group-addon text-right">到</span>
                                <input id="abc" name="endTime" data-type="date" class="form-control" type="text" >
                            </div>
                        </div>
                        <label class="col-xs-2 control-label text-right">时间范围：</label>
                        <div class="col-xs-4">
                            <div class="input-daterange input-group" id="datepicker">
                                <div class="input-group clockpicker" data-autoclose="true">
                                    <input type="text" class="form-control" name="dayOn" value="00:00">
                                </div>
                                <span class="input-group-addon">到</span>
                                <div class="input-group clockpicker" data-placement="left" data-align="top" data-autoclose="true">
                                    <input type="text" class="form-control" name="dayOff" value="23:59">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label text-right">充值金额：</label>
                        <div class="col-xs-4">
                            <div class="input-group">
                                <input type="text" class="form-control" name="minLine" number="true" min="0" required > <span class="input-group-addon">元</span>
                            </div>
                        </div>
                        <label class="col-xs-2 control-label charge-type-1 text-right">赠送金额：</label>
                        <div class="col-xs-4 charge-type-1">
                            <div class="input-group">
                                <input type="text" class="form-control" name="giftAmount" number="true" min="0" required> <span class="input-group-addon">元</span>
                            </div>
                        </div>
                        <label class="col-xs-2 control-label charge-type-2 hidden text-right">赠送百分比：</label>
                        <div class="col-xs-4 charge-type-2 hidden">
                            <div class="input-group">
                                <input type="text" class="form-control" name="giftPercent" number="true"  range="[0,100]" required > <span class="input-group-addon">%</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-8 col-xs-offset-5" id="toolbar">
                            <button class="btn btn-primary #if($oper == 'look')hidden#end" type="submit">提交</button>
                            <button class="btn btn-primary" type="button" id="closeLayer">关闭</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="$URL/asset/bk/js/jquery.min.js?v=2.1.4"></script>
<script src="$URL/asset/bk/js/bootstrap.min.js?v=3.3.6"></script>
<script src="$URL/asset/bk/js/plugins/iCheck/icheck.min.js"></script>
<script src="$URL/asset/bk/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="$URL/asset/bk/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="$URL/asset/bk/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="$URL/asset/bk/js/plugins/layer/layer.min.js"></script>
<script src="$URL/asset/bk/js/plugins/layer/laydate/laydate.js"></script>
<script src="$URL/asset/bk/js/plugins/validate/jquery.validate.min.js"></script>
<script src="$URL/asset/bk/js/plugins/validate/messages_zh.min.js"></script>
<script src="$URL/asset/bk/js/plugins/clockpicker/clockpicker.js"></script>
#parse("templates/common/foot.vm")
<script>
    $(document).ready(function(){$(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",})});
    $('.clockpicker').clockpicker({
        afterShow : function(){
            $(".clockpicker-popover").css("z-index", "999999999");
        }
    });
    var data = [];
    $("input[name='giftType']").on("ifChecked", function(){
        var giftType = $(this).val();
        if(giftType == 1){
            $(".charge-type-2").addClass("hidden");
            $(".charge-type-1").removeClass("hidden");
        }else{
            $(".charge-type-1").addClass("hidden");
            $(".charge-type-2").removeClass("hidden");
        }
    })
    $(function () {
        //加载上层编辑的数据
        if("add" != "$oper"){
            var parentEditObj = parent.Global.editObj
            iniDataToForm(parentEditObj, function(){
                if(Global.editObj.giftType == 1){
                    $(".charge-type-2").addClass("hidden");
                    $(".charge-type-1").removeClass("hidden");
                }else if(Global.editObj.giftType == 2){
                    $(".charge-type-1").addClass("hidden");
                    $(".charge-type-2").removeClass("hidden");
                }
            });
        }

        //初始化表单验证
        $("#signupForm").validate({submitHandler: function() {
            layer.load();
            var formData = getDataFromForm("signupForm");
            formData = transFormToObj(formData);
            if("add" == "$oper"){
                var parentData =  parent.$('#chargeRules').bootstrapTable("getData");
                var id = generateIdFromCurrentArray(parentData);
                formData.id = id;
                parent.$('#chargeRules').bootstrapTable("append", formData);
            }else {
                var parentData = parent.$('#chargeRules').bootstrapTable("getData");
                jQuery.each(parentData, function(i, item){
                    if(item.id == formData.id){
                        parentData[i] = formData;
                    }
                })
                parent.$('#chargeRules').bootstrapTable("load", parentData);
            }
            closeCurrentLayerPage();
        }});
        $('#table').bootstrapTable({
            data: data
        });
    });
</script>

</body>
</html>
