<!DOCTYPE html>
<html>
<head>
    #parse("common/base-bk.vm")
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>职员管理</title>
     <link href="$URL/asset/bk/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="$URL/asset/bk/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="$URL/asset/bk/css/plugins/jsTree/style.min.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/animate.min.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="$URL/asset/bk/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="$URL/asset/bk/plugins/lou-multi-select-7a5354c/css/multi-select.css" media="screen" rel="stylesheet" type="text/css">
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content  animated fadeInRight">

    <div class="row">
        <div class="col-xs-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>分组列表</small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <div id="jstree1">
                        <ul>
                            <li class="jstree-open"  data-jstree='{"type":"top"}'>房间
                                <ul>
                                    #foreach($section in $!{sectionList})
                                    <li #if($velocityCount == 1)class="jstree-clicked"#end onclick="refreshChildren('$!{section.id}', '$!{section.name}')"  data-jstree='{"type":"second"}'>
                                        $!{section.id}-$!{section.name}
                                    </li>
                                    #end
                                </ul>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-xs-9">
            <!-- Example Events -->
            <div class="example-wrap">
                <div class="ibox-content">
                    <div class="example">
                        <div id="toolbar" class="btn-group">
                            <button type="button" class="btn btn-default add">
                                <i class="glyphicon glyphicon-plus"></i>&nbsp;新建
                            </button>
                            #*<button type="button" class="btn btn-default edit">
                                <i class="glyphicon glyphicon-pencil"></i>&nbsp;编辑
                            </button>
                            <button type="button" class="btn btn-default delete">
                                <i class="glyphicon glyphicon-trash"></i>&nbsp;删除
                            </button>
                            <button type="button" class="btn btn-default look">
                                <i class="glyphicon glyphicon-search"></i>&nbsp;查看
                            </button>*#
                            #*<button type="button" class="btn btn-default closeFrame">
                                <i class="glyphicon glyphicon-remove"></i>&nbsp;关闭
                            </button>*#
                        </div>
                        <table id="table" data-height="700"
                               data-toggle="table"
                               data-striped="true"
                               data-query-params="queryParams"
                               data-pagination="true"
                               data-search="true"
                               data-show-refresh="true"
                               data-show-toggle="true"
                               data-show-columns="true"
                               data-page-list="[5, 10, 20, 50, 100, 200]"
                               data-page-size="15"
                               data-toolbar="#toolbar" data-mobile-responsive="true"
                               data-show-export="true"
                               data-export-data-type="all">
                            <thead>
                            <tr>
                                <th data-field="id" data-formatter="userIdFormatter">ID</th>
                                <th data-field="name">名称</th>
                                <th data-formatter="rudFormatter" data-events="rudEvents">操作</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="edit-content">
    <div class="tabs-container">
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm" method="post">
                        <input type="hidden" name="oper" value="#if($!{shop})edit#elseif(true)add#end">
                        <input type="hidden" name="id" >
                        <input type="hidden" name="cardId">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="col-xs-2 control-label">部门：</label>
                                <div class="col-xs-4">
                                    <select  id="parentId" name="parentId" class="form-control" minlength="1" type="text" required>
                                        #foreach($section in $!sectionList)
                                        <option value="$!{section.id}" #if($velocityCount==1)selected#end>$!{section.name}</option>
                                        #end
                                    </select>
                                    #if(!$!sectionList)
                                        <span class="help-block">尚未添加部门，<a href="$URL/merchant/admin/organization/sections" class="J_menuItem">打开部门管理</a> </span>
                                    #end
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="col-xs-2 control-label">名称：</label>
                                <div class="col-xs-4">
                                    <input id="name" name="name" class="form-control" minlength="1" type="text" value=" " required >
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-2 control-label">密码：</label>
                                    <div class="col-xs-4">
                                        <input type="password" name="password" class="form-control" minlength="1" type="text" required >
                                    </div>
                                </div>
                            </div>
                        </div>
                        #*<div class="col-xs-12">
                            <div class="form-group">
                                <label class="col-xs-2 control-label">密码：</label>
                                <div class="col-xs-8">
                                    <input type="password" name="password" class="form-control" minlength="1" type="text" required >
                                </div>
                            </div>
                        </div>*#
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label class="col-xs-2 control-label">权限：</label>
                                <div class="col-xs-7">
                                    <div class="input-group">
                                        <select id="my-select" name="authorityStr" data-type="multiselect" multiple='multiple'>
                                            #foreach($auth in $authorities)
                                                <option value="$!{auth.name}">$!{auth.description}</option>
                                            #end
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-2"><br><br>
                                    <a href='#' id='select-all'>选中全部</a><br><br>
                                    <a href='#' id='deselect-all'>取消全部</a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-7 col-xs-offset-5">
                                <button class="btn btn-primary" type="submit">提交</button>
                                <button class="btn btn-primary" type="button" id="closeLayer">关闭</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</script>
<script src="$URL/asset/bk/js/jquery.min.js?v=2.1.4"></script>
<script src="$URL/asset/bk/js/bootstrap.min.js?v=3.3.6"></script>
<script src="$URL/asset/bk/js/content.min.js?v=1.0.0"></script>
<script src="$URL/asset/bk/js/plugins/jsTree/jstree.min.js"></script>
<script src="$URL/asset/bk/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="$URL/asset/bk/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="$URL/asset/bk/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="$URL/asset/bk/js/plugins/layer/layer.min.js"></script>
<script src="$URL/asset/bk/js/plugins/layer/laydate/laydate.js"></script>
<script src="$URL/asset/bk/js/plugins/validate/jquery.validate.min.js"></script>
<script src="$URL/asset/bk/js/plugins/validate/messages_zh.min.js"></script>
<script src="$URL/asset/bk/plugins/lou-multi-select-7a5354c/js/jquery.multi-select.js" type="text/javascript"></script>
<script src="$URL/asset/bk/js/bootstrap-table-export.js?v=1"></script>
<script src="$URL/asset/bk/js/tableExport.js"></script>
#parse("common/foot.vm")
<style>
    .jstree-open>.jstree-anchor>.fa-folder:before{content:"\f07c"}.jstree-default .jstree-icon.none{width:0}
</style>
<script>

    var localRoomId = "$!{sectionList.get(0).id}";
    var localRoomName = "$!{sectionList.get(0).name}";
    $(document).ready(function () {
        $("#jstree1").jstree({
            "core": {"check_callback": true},
            "plugins": ["types", "dnd"],
            "types": {
                "default": {"icon": "fa fa-tag"},
                "top": {"icon": "glyphicon glyphicon-menu-hamburger"},
                "second" : {"icon": "glyphicon glyphicon-stop"},
                "third" : {"icon": "glyphicon glyphicon-triangle-right"}
            }
        });
    });

    $("#table").bootstrapTable({
        url: "$URL/merchant/admin/organization/getClerkList?sectionId=$!{sectionList.get(0).id}",
        responseHandler : "responseHandler"
    });

    function refreshChildren(roomId, roomName){
        $("input[class='form-control']").val(roomName);
        localRoomName = roomName;
        localRoomId = roomId;
        $("#table").bootstrapTable('refresh', {url: '$URL/merchant/admin/organization/getClerkList?sectionId=' + roomId});
    }

    function currentCateName(){
        return localRoomName;
    }

    function getCurrentCateId(){
        return localRoomId;
    }

    //初始化增删改查配置
    initEdit({
        name : "员工",
        addButton : ".add",
        editButton : ".edit",
        deleteButton : ".delete",
        lookButton : ".look",
        editUrl : "$URL/merchant/admin/organization/editClerk",
        area : ['90%', '490px'],
        afterInitAddContent : function(){
            $("select[name='parentId']").val(getCurrentCateId());
            $('#my-select').multiSelect();
            $('#select-all').click(function(){
                $('#my-select').multiSelect('select_all');
                return false;
            });
            $('#deselect-all').click(function(){
                $('#my-select').multiSelect('deselect_all');
                return false;
            });
            $("input[name]").on("click", function () {
                $(this).val($(this).val().trim());
            })
        },
        afterInitEditContent : function(){
            $("select[name='parentId']").val(getCurrentCateId());
            $("select[name='parentId']").attr("disabled", "disabled");
            $('#my-select').multiSelect();
            $('#select-all').click(function(){
                $('#my-select').multiSelect('select_all');
                return false;
            });
            $('#deselect-all').click(function(){
                $('#my-select').multiSelect('deselect_all');
                return false;
            });
        }
    })

    function userIdFormatter(value){
        var id = value + "";
        if(id.length==1){
            return "000" + id;
        }else if(id.length==2){
            return "00" + id;
        }else if(id.length==3){
            return "0" +id;
        }else {
            return value;
        }
    }
</script>
</body>
</html>
