<!DOCTYPE html>
<html>
<head>
    #parse("templates/common/base-bk.vm")
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="$URL/asset/bk/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="$URL/asset/bk/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="$URL/asset/bk/css/animate.min.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="$URL/asset/bk/css/plugins/clockpicker/clockpicker.css" rel="stylesheet">
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox-content p-xl">
                <div class="row">
                    #*<div class="col-sm-6">
                        <address>
                            <strong>北京百度在线网络技术有限公司</strong><br>
                            北京市海淀区上地十街10号<br>
                            <abbr title="Phone">总机：</abbr> (+86 10) 5992 8888
                        </address>
                    </div>*#

                    <div class="col-sm-6">
                        <h4>门店：<span class="text-navy">${data.shopName}</span></h4>
                        <p>
                            <span><strong>时间：</strong> $!{data.dateStr}</span>
                        </p>
                        <p>
                            <span><strong>客流量：</strong> $!{data.people}人</span>
                        </p>
                    </div>

                    <div class="col-sm-6">
                        <table class="table invoice-total">
                            <tbody>
                            <tr>
                                <td><strong>营业收入：</strong><i class="fa fa-commenting-o showTips" data-tip-content="营业收入 = 堂食 + 快餐 + 外卖"></i>
                                </td>
                                <td>&yen;$!{data.businessIncome}</td>
                            </tr>
                            <tr>
                                <td><strong>非营业收入：</strong><i class="fa fa-commenting-o showTips" data-tip-content="营业额外收入，如赔付等"></i>
                                </td>
                                <td>&yen;$!{data.extraIncome}</td>
                            </tr>
                            #*<tr>
                                <td><strong>总收入：</strong><i class="fa fa-commenting-o showTips" data-tip-content="总收入 = 营业收入 + 非营业收入 + 卡充值金额 - 卡消费金额 - 退卡金额"></i>
                                </td>
                                <td>&yen;$!{data.totalIncome}</td>
                            </tr>*#
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="tabs-container m-t-md">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">订单类型</a>
                        </li>
                        <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">支付方式</a>
                        </li>
                        <li class=""><a data-toggle="tab" href="#tab-3" aria-expanded="false">卡相关</a>
                        </li>
                        <li class=""><a data-toggle="tab" href="#tab-5" aria-expanded="false">券相关</a>
                        </li>
                        <li class=""><a data-toggle="tab" href="#tab-4" aria-expanded="false">折扣统计</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">
                                <div class="col-xs-4">
                                    <table class="table invoice-table">
                                        <thead>
                                        <tr>
                                            <th>订单类型</th>
                                            <th>金额</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>堂食</td>
                                            <td>&yen;$!{data.deskOrderAmount}</td>
                                        </tr>
                                        <tr>
                                            <td>快餐</td>
                                            <td>&yen;$!{data.fastOrderAmount}</td>
                                        </tr>
                                        <tr>
                                            <td>外卖</td>
                                            <td>&yen;$!{data.takeOutAmount}</td>
                                        </tr>
                                        #*<tr>
                                            <td>非营业单</td>
                                            <td>&yen;$!{data.extraIncome}</td>
                                        </tr>*#
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-xs-8 border-left">
                                    <div class="echarts" id="echarts-order-type"></div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane">
                            <div class="panel-body">
                                <div class="col-xs-4">
                                    <table class="table invoice-table">
                                        <thead>
                                        <tr>
                                            <th>支付方式</th>
                                            <th>金额</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>现金支付</td>
                                            <td>&yen;$!{data.cashAmount}</td>
                                        </tr>
                                        <tr>
                                            <td>银行卡支付</td>
                                            <td>&yen;$!{data.bankAmount}</td>
                                        </tr>
                                        <tr>
                                            <td>储值卡支付</td>
                                            <td>&yen;$!{data.cardAmount}</td>
                                        </tr>
                                        <tr>
                                            <td>券支付</td>
                                            <td>&yen;$!{data.couponAmount}</td>
                                        </tr>
                                        <tr>
                                            <td>其他支付</td>
                                            <td>&yen;$!{data.otherAmount}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-xs-8 border-left">
                                    <div class="echarts" id="echarts-order-payment"></div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-3" class="tab-pane">
                            <div class="panel-body">
                                <div class="col-xs-4">
                                    <table class="table invoice-table">
                                        <thead>
                                        <tr>
                                            <th>卡操作</th>
                                            <th>金额</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>充值金额</td>
                                            <td>&yen;$!{data.chargeAmount}</td>
                                        </tr>
                                        <tr>
                                            <td>消费金额</td>
                                            <td>&yen;$!{data.cardAmount}</td>
                                        </tr>
                                        <tr>
                                            <td>退卡金额</td>
                                            <td>&yen;$!{data.returnCardAmount}</td>
                                        </tr>
                                        <tr>
                                            <td>卡折扣金额</td>
                                            <td>&yen;$!{data.cardDiscountAmount}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-xs-8 border-left">
                                    <div class="echarts" id="echarts-card"></div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-4" class="tab-pane">
                            <div class="panel-body">
                                <div class="col-xs-4">
                                    <table class="table invoice-table">
                                        <thead>
                                        <tr>
                                            <th>折扣类型</th>
                                            <th>折扣金额</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>整单折扣</td>
                                            <td>&yen;$!{data.discountAmount}</td>
                                        </tr>
                                        <tr>
                                            <td>特殊折扣</td>
                                            <td>&yen;$!{data.specialDiscountAmount}</td>
                                        </tr>
                                        <tr>
                                            <td>菜品折扣</td>
                                            <td>&yen;$!{data.itemDiscountAmount}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-xs-8 border-left">
                                    <div class="echarts" id="echarts-discount"></div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-5" class="tab-pane">
                            <div class="panel-body">
                                <div class="col-xs-4">
                                    <table class="table invoice-table">
                                        <thead>
                                        <tr>
                                            <th>券操作</th>
                                            <th>金额</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>券抵用金额</td>
                                            <td>&yen;$!{data.couponAmount}</td>
                                        </tr>
                                        <tr>
                                            <td>券折扣金额</td>
                                            <td>&yen;$!{data.couponDiscountAmount}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-xs-8 border-left">
                                    <div class="echarts" id="echarts-coupon"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                #*<div class="text-right">
                    <button class="btn btn-primary"><i class="fa fa-dollar"></i> 去付款</button>
                </div>*#
                #*<div class="well m-t"><strong>注意：</strong> 请在30日内完成付款，否则订单会自动取消。
                </div>*#
            </div>
        </div>
    </div>
</div>
<script src="$URL/asset/bk/js/jquery.min.js?v=2.1.4"></script>
<script src="$URL/asset/bk/js/bootstrap.min.js?v=3.3.6"></script>
<script src="$URL/asset/bk/js/content.min.js?v=1.0.0"></script>
<script src="$URL/asset/bk/js/plugins/layer/layer.min.js"></script>
<script src="$URL/asset/bk/js/plugins/echarts/echarts-all.js"></script>
<script src="$URL/asset/bk/common.js"></script>
<script>
    $(function(){
        var paymentChartsOn = false, cardChartsOn = false, discountChartsOn = false, couponChartsOn = false;
        initOrderTypeCharts();
        $(".nav-tabs li a").on("click", function(){
            var href = $(this).attr("href");
            if(href=="#tab-2" && !paymentChartsOn){
                setTimeout(function(){initPaymentCharts(); paymentChartsOn = true;}, 500)
            }else if(href=="#tab-3" && !cardChartsOn){
                setTimeout(function(){initCardCharts();cardChartsOn = true;}, 500)
            }else if(href=="#tab-4" && !discountChartsOn){
                setTimeout(function(){initDiscountCharts();discountChartsOn = true;}, 500)
            }else if(href=="#tab-5" && !couponChartsOn){
                setTimeout(function(){initCouponCharts();couponChartsOn = true;}, 500)
            }
        })
    })
    function initOrderTypeCharts(){
        var orderTypeCharts = echarts.init(document.getElementById('echarts-order-type'));
        orderTypeOption = {
            title : {
                text: '营业收入订单类型',
                subtext: '',
                x:'center'
            },
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient : 'vertical',
                x : 'left',
                data:['堂食','快餐','外卖']
            },
            toolbox: {
                show : true,
            },
            calculable : true,
            series : [
                {
                    name:'金额',
                    type:'pie',
                    radius : '55%',
                    center: ['50%', '60%'],
                    data:[
                        {value:$!{data.deskOrderAmount}, name:'堂食'},
                        {value:$!{data.fastOrderAmount}, name:'快餐'},
                        {value:$!{data.takeOutAmount}, name:'外卖'}
                    ]
                }
            ]
        };
        orderTypeCharts.setOption(orderTypeOption);
    }

    function initPaymentCharts(){
        var orderPaymentCharts = echarts.init(document.getElementById('echarts-order-payment'));

        orderPaymentOption = {
            title : {
                text: '营业收入支付方式占比图',
                subtext: '',
                x:'center'
            },
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient : 'vertical',
                x : 'left',
                data:['现金支付','银行卡支付','储值卡支付','券支付','其他支付方式']
            },
            toolbox: {
                show : true,
            },
            calculable : true,
            series : [
                {
                    name:'支付金额',
                    type:'pie',
                    radius : '55%',
                    center: ['70%', '60%'],
                    data:[
                        {value:$!{data.cashAmount}, name:'现金支付'},
                        {value:$!{data.bankAmount}, name:'银行卡支付'},
                        {value:$!{data.cardAmount}, name:'储值卡支付'},
                        {value:$!{data.couponAmount}, name:'券支付'},
                        {value:$!{data.otherAmount}, name:'其他支付方式'}
                    ],
                    itemStyle: {
                        normal: {
                            color: function(params) {
                                // build a color map as your need.
                                var colorList = [
                                    '#9BCA63','#FAD860','#F3A43B','#60C0DD',
                                    '#D7504B','#C6E579','#F4E001','#F0805A','#26C0C0'
                                ];
                                return colorList[params.dataIndex]
                            },
                            label: {
                                show: true,
                                position: 'top',
                                formatter: '{b}\n{c}'
                            }
                        }
                    },
                }
            ]
        };
        orderPaymentCharts.setOption(orderPaymentOption);
    }

    function initCardCharts(){
        var orderCardCharts = echarts.init(document.getElementById('echarts-card'));

        orderCardOption = {
            title: {
                x: 'center',
                text: '卡操作金额统计图',
                subtext: ''
            },
            tooltip: {
                trigger: 'item'
            },
            calculable: true,
            grid: {
                borderWidth: 0,
                y: 80,
                y2: 60
            },
            xAxis: [
                {
                    type: 'category',
                    show: false,
                    data: ['卡充值', '卡消费', '退卡', '卡折扣']
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    show: false
                }
            ],
            series: [
                {
                    name: '卡操作金额统计',
                    type: 'bar',
                    itemStyle: {
                        normal: {
                            color: function(params) {
                                // build a color map as your need.
                                var colorList = [
                                    '#C1232B','#B5C334','#FCCE10','#E87C25','#27727B',
                                    '#FE8463','#9BCA63','#FAD860','#F3A43B','#60C0DD',
                                    '#D7504B','#C6E579','#F4E001','#F0805A','#26C0C0'
                                ];
                                return colorList[params.dataIndex]
                            },
                            label: {
                                show: true,
                                position: 'top',
                                formatter: '{b}\n{c}'
                            }
                        }
                    },
                    data: [$!{data.chargeAmount},$!{data.cardAmount},$!{data.returnCardAmount},$!{data.cardDiscountAmount}],
                    markPoint: {
                        tooltip: {
                            trigger: 'item',
                            backgroundColor: 'rgba(0,0,0,0)'
                        },
                        data: []
                    }
                }
            ]
        };
        orderCardCharts.setOption(orderCardOption);
    }

    function initCouponCharts(){
        var orderCouponCharts = echarts.init(document.getElementById('echarts-coupon'));

        orderCouponOption = {
            title: {
                x: 'center',
                text: '券使用金额统计图',
                subtext: ''
            },
            tooltip: {
                trigger: 'item'
            },
            calculable: true,
            grid: {
                borderWidth: 0,
                y: 80,
                y2: 60
            },
            xAxis: [
                {
                    type: 'category',
                    show: false,
                    data: ['券抵用', '券折扣']
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    show: false
                }
            ],
            series: [
                {
                    name: '券使用金额统计',
                    type: 'bar',
                    itemStyle: {
                        normal: {
                            color: function(params) {
                                // build a color map as your need.
                                var colorList = [
                                    '#C1232B','#B5C334','#FCCE10','#E87C25','#27727B',
                                    '#FE8463','#9BCA63','#FAD860','#F3A43B','#60C0DD',
                                    '#D7504B','#C6E579','#F4E001','#F0805A','#26C0C0'
                                ];
                                return colorList[params.dataIndex]
                            },
                            label: {
                                show: true,
                                position: 'top',
                                formatter: '{b}\n{c}'
                            }
                        }
                    },
                    data: [$!{data.couponAmount},$!{data.couponDiscountAmount}],
                    markPoint: {
                        tooltip: {
                            trigger: 'item',
                            backgroundColor: 'rgba(0,0,0,0)'
                        },
                        data: []
                    }
                }
            ]
        };
        orderCouponCharts.setOption(orderCouponOption);
    }

    function initDiscountCharts(){
        var orderDiscountCharts = echarts.init(document.getElementById('echarts-discount'));

        orderDiscountOption = {
            title: {
                x: 'center',
                text: '折扣金额统计图',
                subtext: ''
            },
            tooltip: {
                trigger: 'item'
            },
            calculable: true,
            grid: {
                borderWidth: 0,
                y: 80,
                y2: 60
            },
            xAxis: [
                {
                    type: 'category',
                    show: false,
                    data: ['整单折扣', '特殊折扣', '品项折扣']
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    show: false
                }
            ],
            series: [
                {
                    name: '折扣金额统计',
                    type: 'bar',
                    itemStyle: {
                        normal: {
                            color: function(params) {
                                // build a color map as your need.
                                var colorList = [
                                    '#E87C25','#27727B',
                                    '#FE8463','#9BCA63','#FAD860','#F3A43B','#60C0DD',
                                    '#D7504B','#C6E579','#F4E001','#F0805A','#26C0C0'
                                ];
                                return colorList[params.dataIndex]
                            },
                            label: {
                                show: true,
                                position: 'top',
                                formatter: '{b}\n{c}'
                            }
                        }
                    },
                    data: [$!{data.discountAmount},$!{data.specialDiscountAmount},$!{data.itemDiscountAmount}],
                    markPoint: {
                        tooltip: {
                            trigger: 'item',
                            backgroundColor: 'rgba(0,0,0,0)'
                        },
                        data: []
                    }
                }
            ]
        };
        orderDiscountCharts.setOption(orderDiscountOption);
    }
</script>
</body>
</html>
