<!DOCTYPE html>
<html>
<head>
    #parse("common/base-bk.vm")
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title></title>
     <link href="$URL/asset/bk/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="$URL/asset/bk/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="$URL/asset/bk/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/animate.min.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="$URL/asset/bk/plugins/webuploader/webuploader.css" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="tabs-container">
                <div class="tab-content">
                    <!-- 选项卡1-->
                    <div id="tab-1" class="tab-pane active">
                        <div class="ibox-content">
                            <form class="form-horizontal" id="signupForm" method="post">
                                <input type="hidden" name="id" >
                                <input type="hidden" name="objectIdStr" >
                                <div class="form-group m-t-lg">
                                    <label class="col-sm-2 control-label">店名：</label>
                                    <div class="col-sm-4">
                                        <input name="name" class="form-control" type="text" required>
                                    </div>
                                    <label class="col-sm-2 control-label">商户ID：</label>
                                    <div class="col-sm-4">
                                        <input #if($oper=='add')name="ownerId"#end class="form-control"type="text" required #if($oper=='edit')disabled="disabled"#end value="#if($!{owner.id})$!{owner.id}#elseif($!userId)$!userId#end" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">店主姓名：</label>
                                    <div class="col-sm-4">
                                        <input name="ownerName" class="form-control" type="text" required>
                                    </div>
                                    <label class="col-sm-2 control-label">联系电话：</label>
                                    <div class="col-sm-4">
                                        <input name="phone" class="form-control"type="text" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">类型：</label>
                                    <div class="col-sm-4">
                                        <div class="radio i-checks">
                                            <label>
                                                <input type="radio" value="true" name="superFlag" checked #if($oper=='edit')disabled="disabled"#end> <i></i> 总店</label>
                                            <label>
                                                <input type="radio" value="false" name="superFlag" #if($oper=='edit')disabled="disabled"#end> <i></i> 分店</label>
                                        </div>
                                    </div>
                                    <label class="col-sm-2 control-label">过期时间：</label>
                                    <div class="col-sm-4">
                                        <input name="expired" data-type="date" class="form-control"type="text" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">门店地址：</label>
                                    <div class="col-sm-4">
                                        <input name="address" class="form-control"type="text" required>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group toolbar">
                                    <div class="col-sm-7 col-sm-offset-5">
                                        #if($oper != "look")
                                        <button class="btn btn-primary" type="submit">提交</button>
                                        #end
                                        <button class="btn btn-primary" type="button" id="closeLayer">关闭</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="$URL/asset/bk/js/jquery.min.js?v=2.1.4"></script>
<script src="$URL/asset/bk/js/bootstrap.min.js?v=3.3.6"></script>
<script src="$URL/asset/bk/js/plugins/iCheck/icheck.min.js"></script>
<script src="$URL/asset/bk/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="$URL/asset/bk/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="$URL/asset/bk/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="$URL/asset/bk/js/plugins/layer/layer.min.js"></script>
<script src="$URL/asset/bk/js/plugins/layer/laydate/laydate.js"></script>
<script src="$URL/asset/bk/js/plugins/validate/jquery.validate.min.js"></script>
<script src="$URL/asset/bk/js/plugins/validate/messages_zh.min.js"></script>
<script src="$URL/asset/bk/js/plugins/webuploader/webuploader.min.js"></script>
<script src="$URL/asset/bk/my-selector.js?v=fdd"></script>
#parse("common/foot.vm")
<script>
    $(document).ready(function(){$(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",})});

    //加载上层编辑的数据
    if("add" != "$oper"){
        var parentEditObj = parent.Global.editObj;
        iniDataToForm(parentEditObj);
    }

    //初始化表单
    $("#signupForm").validate({submitHandler: function() {
        var formData = getDataFromForm("signupForm");
        layer.load();
        jQuery.ajax({
            url : "$URL/sys/system/shop/editShop",
            data : {dataStr : JSON.stringify(formData), oper : "$oper"},
            type : "post",
            success : function(res){
                if(res.resultCode == 'SUCCESS'){
                    layer.msg("操作成功！");
                    layer.closeAll("loading");
                    closeCurrentLayerPage();
                }else {
                    layer.alert(res.errCodeDesc);
                    layer.closeAll("loading");
                }
            }
        })
    }});

</script>

</body>
</html>
