<!DOCTYPE html>
<html>
<head>
    #parse("common/base-bk.vm")
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title></title>
    <link href="$URL/asset/bk/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="$URL/asset/bk/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="$URL/asset/bk/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/animate.min.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/style.min862f.css?v=4.1.0" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox-content text-center">
                <form class="form-horizontal" id="foodImportForm" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="oper" value="$!oper">
                    <div class="form-group">
                        <label class="col-xs-3 control-label">选择图片：</label>
                        <div class="col-xs-8">
                            <input name="file" class="form-control"  type="file" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-8 col-xs-offset-3 text-right">建议大小：800*680px</label>
                    </div>
                    <div class="form-group toolbar">
                        <div class="col-sm-7 col-sm-offset-5 m-t-lg">
                            #if($oper != "look")
                                <button class="btn btn-primary" type="submit">提交</button>
                            #end
                            <button class="btn btn-primary" type="button" id="closeLayer">关闭</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="$URL/asset/bk/js/jquery.min.js?v=2.1.4"></script>
<script src="$URL/asset/bk/js/bootstrap.min.js?v=3.3.6"></script>
<script src="$URL/asset/bk/plugins/layer/layer.js"></script>
<script src="$URL/asset/bk/js/plugins/layer/laydate/laydate.js"></script>
<script src="$URL/asset/bk/js/plugins/validate/jquery.validate.min.js"></script>
<script src="$URL/asset/bk/js/plugins/validate/messages_zh.min.js"></script>
    #parse("common/foot.vm")
<script>
    //初始化表单
    $("#foodImportForm").validate({submitHandler: function() {
        var formData = new FormData($("#foodImportForm")[0]);
        layer.load()
        jQuery.ajax({
            url : "$URL/merchant/admin/setting/addAdvertise",
            type: 'POST',
            data: formData,
            async: true,
            cache: false,
            contentType: false,
            processData: false,
            success: function (res) {
                parent.importingData = res.result;
                if(res.resultCode == 'SUCCESS'){
                    layer.msg("操作成功");
                    setTimeout(function () {
                        closeCurrentLayerPage();
                    },2000)
                }else {
                    layer.alert(res.errCodeDesc);
                    layer.closeAll("loading");
                }
            },
            error: function () {
                layer.alert("网络错误~");
                layer.closeAll("loading");
            }
        })
    }});

    function lookFormate(){
        parent.layer.open({
            type: 1,
            title: false,
            closeBtn: 0,
            area: '1120px',
            skin: 'layui-layer-nobg', //没有背景色
            shadeClose: true,
            content: '<img src="$URL/asset/bk/img/example/food-import-example.jpg">'
        });
    }

</script>

</body>
</html>
