<!DOCTYPE html>
<html>
<head>
    #parse("common/base-bk.vm")
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>门店列表</title>

     <link href="$URL/asset/bk/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="$URL/asset/bk/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="$URL/asset/bk/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/animate.min.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/style.min862f.css?v=4.1.0" rel="stylesheet">
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">

    <!-- Panel Other -->
    <div class="ibox float-e-margins">

        <div class="ibox-content">
            <div class="row row-lg">

                <div class="col-sm-12">
                    <!-- Example Events -->
                    <div class="example-wrap">
                        <div class="example">
                            <table id="table" >
                                <thead>
                                <tr>
                                ##                                    <th data-field="state" data-checkbox="true"></th>
                                    <th data-formatter="Formatter.runningFormatter">序号</th>
                                    <th data-field="describe">名称</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <!-- End Example Events -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Panel Other -->
</div>

<script src="$URL/asset/bk/js/jquery.min.js?v=2.1.4"></script>
<script src="$URL/asset/bk/js/bootstrap.min.js?v=3.3.6"></script>
<script src="$URL/asset/bk/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="$URL/asset/bk/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="$URL/asset/bk/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="$URL/asset/bk/js/plugins/layer/layer.min.js"></script>
<script src="$URL/asset/bk/js/plugins/layer/laydate/laydate.js"></script>
<script src="$URL/asset/bk/js/plugins/validate/jquery.validate.min.js"></script>
<script src="$URL/asset/bk/js/plugins/validate/messages_zh.min.js"></script>
    #parse("common/foot.vm")
<script type="text/javascript">
    $("#table").bootstrapTable({
        url: "$URL/merchant/admin/setting/getPaymentConfig",
        responseHandler : "responseHandler"
    });

    $("#table").on("click-cell.bs.table", function(field, value, row, ele, dom){
        parent.iniDataToForm(ele);
        if("ali" == ele.name){
            parent.$("#ali-area").removeClass("hidden");
        }else if("weixin" == ele.name){
            parent.$("#weixin-area").removeClass("hidden");
        }
        closeCurrentLayerPage();
    })


</script>
</body>
</html>
