<!DOCTYPE html>
<html>
<head>
    #parse("templates/common/base-bk.vm")
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title></title>
     <link href="$URL/asset/bk/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="$URL/asset/bk/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="$URL/asset/bk/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/animate.min.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="$URL/asset/bk/plugins/webuploader/webuploader.css" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="tabs-container">
                <div class="pull-right">
                    #if($oper != 'look')
                        <button class="btn btn-primary" type="submit" id="submit""><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;保存</button>
                    #end
                    <button class="btn btn-primary" type="button" id="closeLayer"><i class="glyphicon glyphicon-remove"></i>&nbsp;关闭</button>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active" id="tab-base"><a data-toggle="tab" href="#tab-1" aria-expanded="true">基本信息</a>
                    </li>
                    <li class="hidden" id="weixin-area"><a data-toggle="tab" href="#tab-2" aria-expanded="false">支付设置</a>
                    </li>
                    <li class="hidden" id="ali-area"><a data-toggle="tab" href="#tab-3" aria-expanded="false">支付设置</a>
                    </li>
                </ul>
                <form class="form-horizontal" id="signupForm" method="post">
                <div class="tab-content">
                    <!-- 选项卡1-->
                    <div id="tab-1" class="tab-pane active">
                        <div class="ibox-content">
                                <input type="hidden" name="name">

                                <div class="form-group m-t-lg">
                                    <label class="col-sm-2 control-label">名称：</label>
                                    <div class="col-sm-4">
                                        <input name="describe" class="form-control" minlength="1" type="text" readonly>
                                    </div>
                                    <label class="col-sm-2 control-label">单位：</label>
                                    <div class="col-sm-4">
                                        <input name="unit" class="form-control" minlength="1" type="text" required value="元">
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">是否开发票：</label>
                                    <div class="col-sm-4">
                                        <label class="checkbox-inline i-checks">
                                            <input type="checkbox" name="giveTicket" >开发票</label>
                                    </div>
                                    <label class="col-sm-2 control-label">是否允许积分：</label>
                                    <div class="col-sm-4">
                                        <label class="checkbox-inline i-checks">
                                            <input type="checkbox" name="givePoint"  checked>允许积分</label>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">是否启用</label>
                                    <div class="col-sm-4">
                                        <label class="checkbox-inline i-checks">
                                            <input type="checkbox" name="activated"  checked>启用</label>
                                    </div>
                                </div>

                        </div>
                    </div>
                    <!-- 选项卡2-->
                    <div id="tab-2" class="tab-pane">
                        <div class="ibox-content">
                                <div class="form-group m-t-lg">
                                    <label class="col-sm-3 control-label">APPID：</label>
                                    <div class="col-sm-5">
                                        <input name="wxAppId" class="form-control" type="text" >
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">子商户号：</label>
                                    <div class="col-sm-5">
                                        <input name="wxMchId" class="form-control" type="text" >
                                    </div>
                                    <a href="javascript:wxPayTip()" target="_blank">如何获得子商户号？</a>
                                </div>
                        </div>
                    </div>
                    <!-- 选项卡3-->
                    <div id="tab-3" class="tab-pane">
                        <div class="ibox-content">
                                <div class="form-group m-t-lg">
                                    <label class="col-sm-3 control-label">APPID：</label>
                                    <div class="col-sm-5">
                                        <input name="alAppId" class="form-control" minlength="1" type="text" readonly>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">TOKEN：</label>
                                    <div class="col-sm-5">
                                        <input name="alAuthToken" class="form-control" minlength="1" type="text" readonly>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">授权码：</label>
                                    <div class="col-sm-5">
                                        <input name="authCode" class="form-control" minlength="1" type="text" required>
                                    </div>
                                    <a href="$!aliAuthUrl" target="_blank">获取授权码</a>
                                </div>
                        </div>
                    </div>

                </div>
                </form>

            </div>
        </div>
    </div>
    <script src="$URL/asset/bk/js/jquery.min.js?v=2.1.4"></script>
    <script src="$URL/asset/bk/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="$URL/asset/bk/js/plugins/iCheck/icheck.min.js"></script>
    <script src="$URL/asset/bk/js/plugins/layer/layer.min.js"></script>
    <script src="$URL/asset/bk/js/plugins/validate/jquery.validate.min.js"></script>
    <script src="$URL/asset/bk/js/plugins/validate/messages_zh.min.js"></script>
    #parse("templates/common/foot.vm")
    <script>
        $(document).ready(function () {
            $(".i-checks").iCheck({checkboxClass: "icheckbox_square-green", radioClass: "iradio_square-green",})
        });

        //加载上层编辑的数据
        if("add" != "$oper"){
            var parentEditObj = parent.Global.editObj;
            iniDataToForm(parentEditObj);
            if("ali" == parentEditObj.name){
                $("#ali-area").removeClass("hidden");
            }else if("weixin" == parentEditObj.name){
                $("#weixin-area").removeClass("hidden");
            }
        }else{
            layer.open({
                type: 2,
                title: '选择支付方式',
                shadeClose: false,
                closeBtn: 0, //不显示关闭按钮
                area: ['80%', '90%'],
                content: '$URL/merchant/admin/setting/choosePayment'
            })
        }

        $("#submit").on("click", function(){
            $("a[href='#tab-1']").tab('show');
            $('#signupForm').submit();
        })
        //初始化表单
        $("#signupForm").validate({submitHandler: function() {
            var formData = getDataFromForm("signupForm");
            layer.load();
            jQuery.ajax({
                url : "$URL/merchant/admin/setting/editPayment",
                data : {dataStr : JSON.stringify(formData), oper : "$oper"},
                type : "post",
                success : function(res){
                    if(res.resultCode == 'SUCCESS'){
                        layer.msg("操作成功！");
                        layer.closeAll("loading");
                        closeCurrentLayerPage();
                    }else {
                        layer.alert(res.errCodeDesc);
                        layer.closeAll("loading");
                    }
                }
            })
        }});

        function wxPayTip(){
            layer.alert("请联系克维拉客服：0510-85860889，提供相关信息后开通子商户。")
        }

    </script>

</body>
</html>
