<!DOCTYPE html>
<html>

<head>
    #parse("common/base-wx.vm")
    <meta charset="utf-8">
    <title>商家中心</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="/asset/wx/css/mui.min.css">
    <link rel="stylesheet" type="text/css" href="/asset/wx/css/feedback.css" />
    <link rel="stylesheet" href="/asset/wx/css/merchant.css?v=123">
    <link rel="stylesheet" type="text/css" href="/asset/wx/font_bz8esjn7my9wl8fr/iconfont.css">
    <style>
        .mui-table-view-cell{
            padding: 13px 15px;
            color:#646464
        }
        body{
            font-size:15px;
        }
        /*.mui-table-view-chevron .mui-table-view-cell{
            padding-right:0;
        }*/
    </style>
</head>

<body class="mui-fullscreen">
<!--页面主结构开始-->
<div id="app" class="mui-views">
    <div class="mui-view">
        <div class="mui-navbar">
        </div>
        <div class="mui-pages">
        </div>
    </div>
</div>
<!--页面主结构结束-->
<!--单页面开始-->
<div id="setting" class="mui-page">
    <!--页面主内容区开始-->
    <div class="mui-page-content">
        <div class="mui-scroll-wrapper">
            <div class="mui-scroll">
                <div class="m-user-wrap">
                    <div class="m-user">
                        <div class="m-profile-wrap">
                            <div class="m-avatar">
                                <img src="$!{user.headImgUrl}" onerror="this.onerror=null;this.src='$URL/static/images/member/profile.jpg'"/>
                            </div>
                            <div class="m-profile">
                                <p class="m-profile-name">
                                    $!{user.name}
                                </p>
                                <p class="m-profile-phone">
                                    #if(${user.role}=="owner")商家#elseif(true)管理员#end
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="function-content">
                    <ul class="mui-table-view mui-table-view-chevron">
                        <li class="mui-table-view-cell">
                            <a href="javascript:void(0)" class="mui-navigate-right"><i class="iconfont icon-shouye">&nbsp;</i>我的门店</a>
                            <div class="m-card-list swiper-container perview-slider" id="m-card-list">
                                <div class="swiper-wrapper">
                                    #foreach($shop in $shopList)
                                        <div class="swiper-slide m-card-item" onclick="location.href='$URL/wx/shop/shopInfo?id=$!{shop.get_id()}'">
                                            <div class="m-card-logo">
                                                <img src="$URL/static/$!{shop.img}" onerror="this.onerror=null;this.src='$URL/asset/wx/images/city.png'">
                                            </div>
                                            <a href="javascript:void(0)">
                                                <div class="m-card-info">
                                                    $!{shop.name}
                                                </div>
                                                <div class="m-shop-type">
                                                    #if($!{shop.superFlag})总店#elseif(true)分店#end
                                                </div>
                                            </a>
                                        </div>
                                    #end
                                </div>
                            </div>
                        </li>
                        <li class="mui-table-view-cell">
                            <a href="/wx/shop/charts" class="mui-navigate-right"><i class="iconfont icon-wodedingdan">&nbsp;</i>数据统计</a>
                        </li>
                    </ul>
                    <ul class="mui-table-view mui-table-view-chevron" style="margin-top:20px">
                        <li class="mui-table-view-cell">
                            <a href="#general" class="mui-navigate-right"><i class="iconfont icon-shezhi">&nbsp;</i>账号设置</a>
                        </li>
                        <li class="mui-table-view-cell">
                            <a href="/wx/user/about" class="mui-navigate-right"><i class="iconfont icon-xiaoxizhongxin">&nbsp;</i>关于克维拉收银系统 #*<i class="mui-pull-right update">V3.4.0</i>*#</a>
                        </li>
                    </ul>
                    <ul class="mui-table-view" style="margin-top:20px">
                        <li class="mui-table-view-cell" style="text-align: center;" id="unbindMerchant">
                            <a><i class="iconfont icon-wodejuhuasuan">&nbsp;</i>解绑账号</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--页面主内容区结束-->
</div>
<!--单页面结束-->

</body>
<script src='/asset/wx/js/zepto.min.js'></script>
<script src="/asset/wx/js/mui.min.js "></script>
<script src="/asset/wx/js/mui.view.js "></script>
<script src='/asset/wx/js/feedback.js'></script>
<script>
    mui.init();
    //初始化单页view
    var viewApi = mui('#app').view({
        defaultPage: '#setting'
    });
    //初始化单页的区域滚动
    mui('.mui-scroll-wrapper').scroll();

    $("#unbindMerchant").on('tap', function () {
        var btnArray = ['否', '是'];
        mui.confirm('后台扫码登录将失效，确认？', '解绑后台账号', btnArray, function (e) {
            if (e.index == 1) {
                Zepto.ajax({
                    url: "/wx/user/unbindMerchant",
                    data: {},
                    type: "post",
                    success: function (res) {
                        if (res.resultCode == 'SUCCESS') {
                            mui.toast("解绑成功！");
                            setTimeout(function () {
                                location.href = location.href;
                            }, 2000);
                        } else {
                            mui.toast(res.errCodeDesc);
                        }
                    },
                    error: function () {
                        mui.toast("网络错误")
                    }
                })
            } else {

            }
        })
    });

</script>

</html>