<!DOCTYPE html>
<html>
<head>
    #parse("common/base-bk.vm")
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title></title>
     <link href="$URL/asset/bk/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="$URL/asset/bk/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="$URL/asset/bk/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/animate.min.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="$URL/asset/bk/plugins/webuploader/webuploader.css" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="tabs-container">
                <div class="pull-right">
                    #if($oper != 'look')
                        <button class="btn btn-primary" type="submit" id="submit""><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;保存</button>
                    #end
                    <button class="btn btn-primary" type="button" id="closeLayer"><i class="glyphicon glyphicon-remove"></i>&nbsp;关闭</button>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active" id="tab-base"><a data-toggle="tab" href="#tab-1" aria-expanded="true">基本信息</a>
                    </li>
                    <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">票头区域</a>
                    </li>
                    <li class=""><a data-toggle="tab" href="#tab-3" aria-expanded="false">票中区域</a>
                    </li>
                    <li class=""><a data-toggle="tab" href="#tab-4" aria-expanded="false">票尾区域</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <!-- 选项卡1-->
                    <div id="tab-1" class="tab-pane active">
                        <div class="ibox-content">
                            <form class="form-horizontal" id="signupForm" method="post">
                                <input type="hidden" name="id">
                                <input type="hidden" name="createTime">
                                <input type="hidden" name="creator">
                                <div class="form-group m-t-lg">
                                    <label class="col-sm-3 control-label">名称：</label>
                                    <div class="col-sm-5">
                                        <input name="name" class="form-control" minlength="1" type="text" required #if($oper=='edit')readonly="true"#end>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">类别：</label>
                                    <div class="col-sm-5">
                                        <select name="category" class="form-control" minlength="1" type="text" disabled="disabled">
                                            <option value="0" #if($category==0)selected#end>小票</option>
                                            <option value="1" #if($category==1)selected#end>厨打</option>
                                            <option value="2" #if($category==2)selected#end>控菜</option>
##                                            <option value="Takeout">外卖</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">宽度：</label>
                                    <div class="col-sm-5">
                                        <input name="width" class="form-control" minlength="1" type="text" number="true" min="0" required >
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                    <!-- 选项卡2-->
                    <div id="tab-2" class="tab-pane">
                        <div class="col-sm-12">
                            <div class="ibox-content">
                                <div class="btn-group" role="group">
                                    <button type="button" id="addHeadItem" data-type="0" class="btn btn-outline btn-default addItems">
                                        <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" id="editHeadItem" data-type="0" class="btn btn-outline btn-default">
                                        <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" id="lookHeadtem" data-type="0" class="btn btn-outline btn-default">
                                        <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" id="deleteHeadItem" data-type="0" class="btn btn-outline btn-default">
                                        <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <table id="headItems" class="table" data-classes="table table-hover table-condensed" data-mobile-responsive="true"  data-height="350">
                                    <thead>
                                    <tr>
                                        <th data-formatter="Formatter.runningFormatter">序号</th>
                                        <th data-field="name">名称</th>
                                        <th data-field="title">别名</th>
                                        <th data-field="type" data-formatter="typeFormatter">类型</th>
                                        <th data-field="width">宽度</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- 选项卡3-->
                    <div id="tab-3" class="tab-pane">
                        <div class="col-sm-12">
                            <div class="ibox-content">
                                <div class="btn-group" role="group">
                                    <button type="button" id="addContentItem" data-type="1" class="btn btn-outline btn-default addItems">
                                        <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" id="editContentItem" data-type="1" class="btn btn-outline btn-default">
                                        <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" id="lookContentItem" data-type="1" class="btn btn-outline btn-default">
                                        <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" id="deleteContentItem" data-type="1" class="btn btn-outline btn-default">
                                        <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <table id="contentItems" class="table"  data-classes="table table-hover table-condensed" data-mobile-responsive="true"  data-height="350">
                                    <thead>
                                    <tr>
                                        <th data-formatter="Formatter.runningFormatter">序号</th>
                                        <th data-field="name">名称</th>
                                        <th data-field="title">别名</th>
                                        <th data-field="type" data-formatter="typeFormatter">类型</th>
                                        <th data-field="width">宽度</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- 选项卡4-->
                <div id="tab-4" class="tab-pane">
                    <div class="col-sm-12">
                        <div class="ibox-content">
                            <div class="btn-group" role="group">
                                <button type="button" id="addTailItem" data-type="2" class="btn btn-outline btn-default addItems">
                                    <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                                </button>
                                <button type="button" id="editTailItem" data-type="2" class="btn btn-outline btn-default">
                                    <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                                </button>
                                <button type="button" id="lookTailItem" data-type="2" class="btn btn-outline btn-default">
                                    <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
                                </button>
                                <button type="button" id="deleteTailItem" data-type="2" class="btn btn-outline btn-default">
                                    <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                </button>
                            </div>
                            <table id="tailItems" class="table"  data-classes="table table-hover table-condensed" data-mobile-responsive="true"  data-height="350">
                                <thead>
                                <tr>
                                    <th data-formatter="Formatter.runningFormatter">序号</th>
                                    <th data-field="name">名称</th>
                                    <th data-field="title">别名</th>
                                    <th data-field="type" data-formatter="typeFormatter">类型</th>
                                    <th data-field="width">宽度</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="$URL/asset/bk/js/jquery.min.js?v=2.1.4"></script>
<script src="$URL/asset/bk/js/bootstrap.min.js?v=3.3.6"></script>
<script src="$URL/asset/bk/js/plugins/iCheck/icheck.min.js"></script>
<script src="$URL/asset/bk/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="$URL/asset/bk/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="$URL/asset/bk/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="$URL/asset/bk/js/plugins/layer/layer.min.js"></script>
<script src="$URL/asset/bk/js/plugins/layer/laydate/laydate.js"></script>
<script src="$URL/asset/bk/js/plugins/validate/jquery.validate.min.js"></script>
<script src="$URL/asset/bk/js/plugins/validate/messages_zh.min.js"></script>
<script src="$URL/asset/bk/js/plugins/webuploader/webuploader.min.js"></script>
<script src="$URL/asset/bk/my-selector.js?v=fdd"></script>
<script src="$URL/asset/bk/js/jquery-ui-1.10.4.min.js"></script>
    #parse("common/foot.vm")
<script>
    $(document).ready(function () {
        $(".i-checks").iCheck({checkboxClass: "icheckbox_square-green", radioClass: "iradio_square-green",})
    });
    function typeFormatter(data){
        if(data == 1)
            return '自定义文字';
        else if(data== 2)
            return '分割线';
        else
            return '数据项';
    }


    //初始表数据
    var data = {
        headItems : [],
        contentItems : [],
        tailItems : []
    };

    //加载上层编辑的数据
    if("add" != "$oper"){
        var parentEditObj = parent.Global.editObj;
        iniDataToForm(parentEditObj);
        data.headItems = parentEditObj.header;
        data.contentItems = parentEditObj.content;
        data.tailItems = parentEditObj.tail;
    }

    $(function () {
        //初始化图片上传控件
        initUploader({
            picker : "#picker"
        })
        //初始化表一
        $("#headItems").bootstrapTable({
            data: data.headItems
        });
        //初始化可排序事件
        $( "#headItems tbody" ).sortable();
        $( "#headItems tbody" ).disableSelection();
        $( "#headItems tbody" ).bind('sortupdate', function(event, ui) {
            tableSortRefresh("#headItems");
        });
        //初始化充值规则
        $("#contentItems").bootstrapTable({
            data: data.contentItems
        });
        //初始化可排序事件
        $( "#contentItems tbody" ).sortable();
        $( "#contentItems tbody" ).disableSelection();
        $( "#contentItems tbody" ).bind('sortupdate', function(event, ui) {
            tableSortRefresh("#contentItems");
        });
        //初始化充值规则
        $("#tailItems").bootstrapTable({
            data: data.tailItems
        });
        //初始化可排序事件
        $( "#tailItems tbody" ).sortable();
        $( "#tailItems tbody" ).disableSelection();
        $( "#tailItems tbody" ).bind('sortupdate', function(event, ui) {
            tableSortRefresh("#tailItems");
        });


        $("#submit").on("click", function(){
            $("a[href='#tab-1']").tab('show');
            $('#signupForm').submit();
        })
        //初始化表单
        $("#signupForm").validate({submitHandler: function() {
            var formData = getDataFromForm("signupForm");
            var headItems = $("#headItems").bootstrapTable("getData");
            var contentItems = $("#contentItems").bootstrapTable("getData");
            var tailItems = $("#tailItems").bootstrapTable("getData");
            formData.header = headItems;
            formData.content = contentItems;
            formData.tail = tailItems;
            layer.load();
            jQuery.ajax({
                url : "$URL/merchant/admin/printer/editTicketForm",
                data : {dataStr : JSON.stringify(formData), category : $category, oper : "$oper"},
                type : "post",
                success : function(res){
                    if(res.resultCode == 'SUCCESS'){
                        layer.msg("操作成功！");
                        layer.closeAll("loading");
                        closeCurrentLayerPage();
                    }else {
                        layer.alert(res.errCodeDesc);
                        layer.closeAll("loading");
                    }
                }
            })
        }});
        initEdit({
            name : "票头项",
            table : "#headItems",
            editButton : "#editHeadItem",
            lookButton : "#lookHeadItem",
            deleteButton : "#deleteHeadItem",
            layerType : 2,
            parameters : {zone : 0},
            content : "$URL/merchant/admin/printer/itemInput?category=$!category",
            area : ['90%', '90%']
        })
        initEdit({
            name : "票中内容",
            table : "#contentItems",
            editButton : "#editContentItem",
            lookButton : "#lookContentItem",
            deleteButton : "#deleteContentItem",
            layerType : 2,
            parameters : {zone : 1},
            content : "$URL/merchant/admin/printer/itemInput?category=$!category",
            area : ['90%', '90%']
        })
        initEdit({
            name : "票尾项",
            table : "#tailItems",
            editButton : "#editTailItem",
            lookButton : "#lookTailItem",
            deleteButton : "#deleteTailItem",
            layerType : 2,
            parameters : {zone : 2},
            content : "$URL/merchant/admin/printer/itemInput?category=$!category",
            area : ['90%', '90%']
        })
    });

    $(".addItems").on("click", function(){
        var zone = $(this).data("type");
        var index = layer.open({
            title: "添加打印项",
            type:2,
            skin: 'layui-layer-demo', //样式类名
            closeBtn: 1, //不显示关闭按钮
            shift: 2,
            maxmin: true,
            area: ['90%', '90%'],
            shadeClose: false, //开启遮罩关闭
            content: '$URL/merchant/admin/printer/chooseItems?category=$!category&zone='+zone,
            end: function () {
                $("button[name='refresh']").click();
            },
            success: function (layero, index) {

            }
        });
    })

    function itemTypeFormatter(value){
        if(value == 0){
            return "数据项";
        }else if(value == 1){
            return "自定义";
        }else if(value == 2){
            return "分割线";
        }
        return "-";
    }

</script>

</body>
</html>
