<!DOCTYPE html>
<html>
<head>
    #parse("templates/common/base-bk.vm")
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title></title>
     <link href="$URL/asset/bk/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="$URL/asset/bk/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="$URL/asset/bk/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/animate.min.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="$URL/asset/bk/plugins/webuploader/webuploader.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/plugins/chosen/chosen.css" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox-content">
                <form class="form-horizontal m-t" id="signupForm" method="post">
                    <input type="hidden" name="id">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">名称：</label>
                            <div class="col-sm-4">
                                <input id="name" name="name" class="form-control" minlength="1" type="text" readonly >
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">打印机1：</label>
                            <div class="col-sm-4">
                                <select  name="printer1" class="form-control" minlength="1" type="text">
                                    <option value="">无</option>
                                    #foreach($printer in $printers)
                                        <option value="$!{printer.name}">$!{printer.name}</option>
                                    #end
                                </select>
                            </div>
                            <label class="col-sm-2 control-label">打印机2：</label>
                            <div class="col-sm-4">
                                <select name="printer2" class="form-control" minlength="1" type="text" >
                                    <option value="">无</option>
                                    #foreach($printer in $printers)
                                        <option value="$!{printer.name}">$!{printer.name}</option>
                                    #end
                                </select>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">打印机3：</label>
                            <div class="col-sm-4">
                                <select name="printer3" class="form-control" minlength="1" type="text">
                                    <option value="">无</option>
                                    #foreach($printer in $printers)
                                        <option value="$!{printer.name}">$!{printer.name}</option>
                                    #end
                                </select>
                            </div>
                            <label class="col-sm-2 control-label">厨打：</label>
                            <div class="col-sm-4">
                                <select name="printerControl" class="form-control" minlength="1" type="text" >
                                    <option value="">无</option>
                                    #foreach($printer in $printers)
                                        <option value="$!{printer.name}">$!{printer.name}</option>
                                    #end
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">备注：</label>
                            <div class="col-sm-6">
                                <input name="remark" class="form-control" minlength="1" type="text"  >
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-t-lg">
                        <div class="col-sm-8 col-sm-offset-5">
                            <button class="btn btn-primary" type="submit">确认</button>
                            <button class="btn btn-primary" type="button" id="closeLayer">关闭</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="$URL/asset/bk/js/jquery.min.js?v=2.1.4"></script>
<script src="$URL/asset/bk/js/bootstrap.min.js?v=3.3.6"></script>
<script src="$URL/asset/bk/js/plugins/iCheck/icheck.min.js"></script>
<script src="$URL/asset/bk/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="$URL/asset/bk/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="$URL/asset/bk/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="$URL/asset/bk/js/plugins/layer/layer.min.js"></script>
<script src="$URL/asset/bk/js/plugins/layer/laydate/laydate.js"></script>
<script src="$URL/asset/bk/js/plugins/validate/jquery.validate.min.js"></script>
<script src="$URL/asset/bk/js/plugins/validate/messages_zh.min.js"></script>
<script src="$URL/asset/bk/js/plugins/webuploader/webuploader.min.js"></script>
<script src="$URL/asset/bk/my-selector.js?v=fdd"></script>
<script src="$URL/asset/bk/js/jquery-ui-1.10.4.min.js"></script>
<script src="$URL/asset/bk/js/plugins/chosen/chosen.jquery.js"></script>
    #parse("templates/common/foot.vm")
<script>
    $(document).ready(function(){
        $(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",})
        $('.chosen-select').chosen();
    });

    var parentEditObj = parent.Global.editObj;
    iniDataToForm(parentEditObj);


    $("#signupForm").validate({submitHandler: function() {
        layer.load();
        var formData = getDataFromForm("signupForm");
        formData = transFormToObj(formData);
        var parentData = parent.$('#itemsTable').bootstrapTable("getData");
        jQuery.each(parentData, function(i, item){
            if(item.id == formData.id){
                parentData[i] = formData;
            }
        })
        parent.$('#itemsTable').bootstrapTable("load", parentData);
        closeCurrentLayerPage();
    }});

</script>

</body>
</html>
