<!DOCTYPE html>
<html>
<head>
    #parse("templates/common/base-bk.vm")
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>品项分类</title>
     <link href="$URL/asset/bk/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="$URL/asset/bk/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="$URL/asset/bk/css/plugins/jsTree/style.min.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/animate.min.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="$URL/asset/bk/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content  animated fadeInRight">

    <div class="row">
        <div class="example-wrap">
            <div class="ibox-content">
                <form class="form-horizontal m-t" id="signupForm" method="post">
                    <div class="col-sm-12">
                        <div class="form-group">
##                            <label class="col-xs-3 control-label">：</label>
                            <div class="col-xs-12">
                                <div class="input-group">
                                    <textarea type="text" name="dataStr" class="form-control" rows="20" cols="120">$!menu</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-7 col-sm-offset-5">
                            <button class="btn btn-primary" type="submit">发布</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="$URL/asset/bk/js/jquery.min.js?v=2.1.4"></script>
<script src="$URL/asset/bk/js/bootstrap.min.js?v=3.3.6"></script>
<script src="$URL/asset/bk/js/content.min.js?v=1.0.0"></script>
<script src="$URL/asset/bk/plugins/layer/layer.js"></script>
<script src="$URL/asset/bk/js/plugins/validate/jquery.validate.min.js"></script>
<script src="$URL/asset/bk/js/plugins/validate/messages_zh.min.js"></script>
    #parse("templates/common/foot.vm")
<style>
    .jstree-open>.jstree-anchor>.fa-folder:before{content:"\f07c"}.jstree-default .jstree-icon.none{width:0}
</style>
<script>

    //初始化表单
    $("#signupForm").validate({submitHandler: function() {
        var dataStr = $("textarea[name='dataStr']").val().replace(/\+/g, "");
        layer.load();
        jQuery.ajax({
            url : "$URL/system/wx/publishMenu",
            data : {dataStr : dataStr},
            type : "post",
            success : function(res){
                if(res.resultCode == 'SUCCESS'){
                    layer.msg("操作成功！");
                    layer.closeAll("loading");
                }else {
                    layer.alert(res.errCodeDesc);
                    layer.closeAll("loading");
                }
            }
        })
    }});

</script>
</body>
</html>
