<!DOCTYPE html>
<html>
<head>
    #parse("templates/common/base-bk.vm")
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>账号信息</title>
      <link href="$URL/asset/bk/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="$URL/asset/bk/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="$URL/asset/bk/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/animate.min.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/style.min862f.css?v=4.1.0" rel="stylesheet">
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="row animated fadeInRight">
        <div class="col-sm-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>个人资料</h5>
                </div>
                <div class="text-center">
                    <div class="ibox-content profile-content">
                        <img alt="image" class="img-responsive" src="${user.headImgUrl}" onerror="this.onerror=null;this.src='$URL/asset/bk/img/default-user.jpg'">
                    </div>
                    <div class="ibox-content profile-content">
                        <h4><strong>$!{user.name}</strong></h4>
                        #if($!{user.city})
                            <p><i class="fa fa-map-marker"></i>$!{user.province}$!{user.city}</p>
                        #end
                        <div class="user-button">
                            <div class="row">
                                <div class="col-sm-6">
                                    <button type="button" id="changePassword" class="btn btn-primary btn-sm btn-block"><i class="glyphicon glyphicon-cog"></i> &nbsp;修改密码</button>
                                </div>
                                <div class="col-sm-6">
                                    #if($!{user.openId})
                                        <button type="button" id="changeWeixin" class="btn btn-default btn-sm btn-block"><i class="glyphicon glyphicon-wrench"></i> &nbsp;微信解绑</button>
                                    #else
                                        <button type="button" id="changeWeixin" class="btn btn-default btn-sm btn-block"><i class="glyphicon glyphicon-wrench"></i> &nbsp;微信绑定</button>
                                    #end
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>管理门店</h5>
                </div>
                <div class="ibox-content">
                    <div class="row row-lg">

                        <div class="col-sm-12">
                            <!-- Example Events -->
                            <div class="example-wrap">
                                <div class="example">
                                    <div id="toolbar" class="btn-group">
                                        <button type="button" class="btn btn-default look">
                                            <i class="glyphicon glyphicon-search"></i>&nbsp;查看
                                        </button>
                                        #*<button type="button" class="btn btn-default closeFrame">
                                            <i class="glyphicon glyphicon-remove"></i>&nbsp;关闭
                                        </button>*#
                                    </div>
                                    <table id="table" data-height="700"
                                           data-toggle="table"
                                           data-striped="true"
                                           data-query-params="queryParams"
                                           data-pagination="true"
                                           data-search="true"
                                           data-show-refresh="true"
                                           data-show-toggle="true"
                                           data-show-columns="true"
                                           data-page-list="[5, 10, 20, 50, 100, 200]"
                                           data-page-size="15"
                                           data-toolbar="#toolbar" data-mobile-responsive="true"
                                          >
                                        <thead>
                                        <tr>
                                        ##                                    <th data-field="state" data-checkbox="true"></th>
                                            <th data-field="encodeId" data-sortable="true">门店编号</th>
                                            <th data-field="name">名称</th>
                                            <th data-field="superFlag"  data-formatter="typeFormatter">类型</th>
                                            <th data-field="ownerName">店长</th>
                                            <th data-field="address">地址</th>
                                            <th data-field="createTime" data-formatter="Formatter.date">创建时间</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                            <!-- End Example Events -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="edit-content">
    <div class="tabs-container">
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm" method="post">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">名称：</label>
                                <div class="col-sm-8">
                                    <input id="name" name="name" class="form-control" minlength="2" type="text" required value="$!{shop.name}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">地址：</label>
                                <div class="col-sm-8">
                                    <input id="address" name="address" class="form-control" type="text"  required="true" value="$!{shop.address}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">店长：</label>
                                <div class="col-sm-8">
                                    <input id="ownerName" name="ownerName" class="form-control" type="text" required="true" value="$!{shop.ownerName}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">联系电话：</label>
                                <div class="col-sm-8">
                                    <input id="phone" name="phone" class="form-control" type="tel" value="$!{shop.phone}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-7 col-sm-offset-5">
                                <button class="btn btn-primary" type="submit">提交</button>
                                <button class="btn btn-primary" type="button" id="closeLayer">关闭</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</script>
<script src="$URL/asset/bk/js/jquery.min.js?v=2.1.4"></script>
<script src="$URL/asset/bk/js/bootstrap.min.js?v=3.3.6"></script>
<script src="$URL/asset/bk/js/bootstrap.min.js?v=3.3.6"></script>
<script src="$URL/asset/bk/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="$URL/asset/bk/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="$URL/asset/bk/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="$URL/asset/bk/js/content.min.js?v=1.0.0"></script>
<script src="$URL/asset/bk/js/plugins/layer/layer.min.js"></script>
<script src="$URL/asset/bk/js/plugins/validate/jquery.validate.min.js"></script>
<script src="$URL/asset/bk/js/plugins/validate/messages_zh.min.js"></script>
#parse("templates/common/foot.vm")
<script>
    $("#table").bootstrapTable({
        url: "$URL/merchant/shopList",
        responseHandler : "responseHandler"
    });

    function typeFormatter(data){
        if(data)
            return '总店';
        else
            return '分店';
    }

    initEdit({
        addButton : ".add",
        editButton : ".edit",
        deleteButton : ".delete",
        lookButton : ".look",
        editUrl : "$URL/merchant/admin/shop/editShop",
        area : ['80%', '360px']
    })

    $("#changeWeixin").on("click", function(){
        layer.open({
            title: "#if($!{user.openId})解绑微信#else绑定微信#end",
            type:2,
            skin: 'layui-layer-demo', //样式类名
            closeBtn: 1, //不显示关闭按钮
            shift: 2,
            maxmin: true,
            area: ['560px', '460px'],
            shadeClose: false, //开启遮罩关闭
            content: '$URL/merchant/admin/account/reBindWX',
            end: function () {
                location.href = location.href;
            }
        })
    })

    $("#changePassword").on("click", function(){
        layer.open({
            title: "修改密码",
            type:2,
            skin: 'layui-layer-demo', //样式类名
            closeBtn: 1, //不显示关闭按钮
            shift: 2,
            maxmin: true,
            area: ['560px', '360px'],
            shadeClose: false, //开启遮罩关闭
            content: '$URL/merchant/admin/account/changePassword'
        })
    })
</script>
</body>
</html>
