<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<html lang="zh-cn">
<head>
    <title>克维拉收银系统</title>
    <link rel="stylesheet" href="/asset/bk/plugins/slider/themes/default/default.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/asset/bk/plugins/slider/themes/light/light.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/asset/bk/plugins/slider/themes/dark/dark.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/asset/bk/plugins/slider/themes/bar/bar.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/asset/bk/plugins/slider/nivo-slider.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/asset/bk/plugins/slider/style.css" type="text/css" media="screen" />
    <style>
        .slider-wrapper {
            width: 100%;
            /* width: 80%; */
            margin-top: 0px;
        }
        .top-banner{
            background-color: #333;
        }
    </style>
</head>
<body>
<div id="wrapper">
    <div class="slider-wrapper theme-default">
        <div id="slider" class="nivoSlider">
            #foreach($adv in $advertise)
                <img class="slider-img" src="/static/$adv" data-thumb="$adv" alt="" onerror="this.onerror=null;this.src='/asset/bk/img/lobster.jpg'"/>
            #end
            #*<img src="/asset/bk/plugins/slider/images/toystory.jpg" data-thumb="/asset/bk/plugins/slider/images/toystory.jpg" alt="" />
            <img src="/asset/bk/plugins/slider/images/up.jpg" data-thumb="images/up.jpg" alt="" title="" />
            <img src="/asset/bk/plugins/slider/images/walle.jpg" data-thumb="/asset/bk/plugins/slider/images/walle.jpg" alt="" data-transition="slideInLeft" />
            <img src="/asset/bk/plugins/slider/images/nemo.jpg" data-thumb="/asset/bk/plugins/slider/images/nemo.jpg" alt="" title="" />*#
        </div>
        <div id="htmlcaption" class="nivo-html-caption">
            <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.
        </div>
    </div>
    <div class="footer-banner" style="width:728px; margin:0 auto"></div>
</div>
<script type="text/javascript" src="/asset/bk/plugins/slider/scripts/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="/asset/bk/plugins/slider/jquery.nivo.slider.js"></script>
<script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
    $(".nivo-controlNav").css("display", "none");

    /**
     * 轮询查找更新
     * @type {number}
     */
    var interval = setInterval(function () {
        refreshAdvertise();
    }, 30000);
    
    function refreshAdvertise() {
        jQuery.ajax({
            url : '/api/getAdvertise?shopId=$!shopId',
            type : "get",
            success : function (res) {
                if(typeof res=='object' && res.length > 0){
                    var imgs = $("#slider .slider-img");
                    //数量不同，刷新页面
                    if(res.length != imgs.length){
                        location.href = location.href;
                    }
                    //内容及顺序不同，刷新页面
                    jQuery.each(imgs, function (i, img) {
                        var tmpUrl = $(img).attr("src");
                        if(tmpUrl != res[i] && this.onerror!=null){
                            location.href = location.href;
                        }
                    })
                }
            }
        })
    }
</script>
</body>
</html>