<!DOCTYPE html>
<html>
<head>
    #parse("templates/common/base-bk.vm")
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>克维拉餐饮系统后台</title>

    <link href="$URL/asset/bk/css/bootstrap.min.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="$URL/asset/bk/css/animate.min.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/style.min.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/login.min.css" rel="stylesheet">
</head>

<body class="signin">
<div class="signinpanel">
    <div class="row">
        <div class="col-sm-7">
            <div class="signin-info">
                <div class="logopanel m-b">
                </div>
                <img src="${qrcodeUrl}" class="col-sm-8"/>
            </div>
        </div>
        <div class="col-sm-5">
            <form method="post" id="loginForm" action="$URL/merchant/secureLogin">
                <h4 class="no-margins text-center">克维拉收银系统登录</h4>
                <p class="m-t-md">&nbsp;</p>
                <input type="text" class="form-control uname" placeholder="用户名" name="name" value="$!name" required/>
                <input type="password" class="form-control pword m-b" placeholder="密码" name="password" value="$!password" required/>
                <input type="hidden" name="redirectUrl" value="$!redirectUrl" />
                <input type="hidden" name="shopId" value="" />
                #if($!msg)<p style="color:red">$!msg</p>#end
                <strong>还没有账号？ <a href="$URL/merchant/regist">立即注册&raquo;</a></strong>
                <button class="btn btn-success btn-block">登录</button>
            </form>

        </div>
        #if($toolUtil.getEnvironment()=="development")
            <br><p>当前运行环境为<strong>开发版本</strong>，确认无误后，可点击<a target="_blank" class="test-content" href="$URL/merchant/testBack">模拟登陆</a>。 </p>
        #end
    </div>
    <div class="signup-footer">
        <div class="pull-left">
            &copy;  2016 无锡克维拉科技有限公司 苏ICP备16044285号
        </div>
    </div>
</div>
<script src="$URL/asset/bk/js/jquery.min.js?v=2.1.4"></script>
<script src="$URL/asset/bk/js/bootstrap.min.js?v=3.3.6"></script>
<script src="$URL/asset/bk/js/plugins/layer/layer.min.js"></script>
<script src="$URL/asset/bk/js/plugins/validate/jquery.validate.min.js"></script>
<script src="$URL/asset/bk/js/plugins/validate/messages_zh.min.js"></script>
#parse("templates/common/foot.vm")
</body>
<script type="text/javascript">
    var loginCode = "$!{loginCode}";
    var returnUrl = "$!{SPRING_SECURITY_SAVED_REQUEST.getRedirectUrl()}";
    var domain = window.location.host;

    //作为main.vm的内嵌登录框时，获取main.vm页面的当前门店id，限制其他门店登录
    var currentShopId = top.currentShopId;
    if (!isNull(currentShopId))
        $("input[name='shopId']").val(currentShopId);

    loginScan(1000);

    function loginScan(time){
        var count = 0;
        var timer = self.setInterval(function(){
            getCurrentState(timer);
            count ++;
            if(count>10 && time < 5000){
                window.clearInterval(timer);
                loginScan(time+1000);
            }
        },time);
    }

    function getCurrentState(timer){
        console.log(timer)
        jQuery.ajax({
            url : '$URL/merchant/getCurrentState',
            type : 'get',
            success : function(res){
                if(res == 'success'){
                    clearInterval(timer);
                    if("" != returnUrl){
                        jQuery.post("$URL/merchant/resetShopId", {shopId : currentShopId}, function(res){
                            if(res.resultCode == 'SUCCESS'){
                                location.href = returnUrl;
                            }else {
                                top.location.href = "$URL/merchant/main";
                            }
                        })
                    }else{
                        top.location.href = "$URL/merchant/main";
                    }
                }else if("new" == res){
                    clearInterval(timer);
                    layer.alert("<p style='color:black'>当前微信号未绑定任何账号，请先注册或进行绑定账号</p>", function () {
                        location.href = location.href;
                    })
                }else if("error" == res){
                    layer.msg("扫描错误，请刷新页面后重新扫描！")
                }
            }
        })
    }

    //初始化表单
    /*$("#loginForm").validate({submitHandler: function() {
        layer.load();
        var formData = new FormData($("#loginForm")[0]);
        jQuery.ajax({
            url : "$URL/merchant/loginSubmit?currentShopId=" + currentShopId,
            data : formData,
            type : "post",
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success:function(res){
                if(res.resultCode == 'SUCCESS'){
                    layer.msg("登录成功！");
                    layer.closeAll("loading");
                    setTimeout(function () {
                        if("" != returnUrl){
                            location.href = returnUrl + "?currentShopId=" + currentShopId;
                        }else {
                            top.location.href = "$URL/merchant/main";
                        }
                    },2000);
                }else {
                    layer.closeAll("loading");
                    layer.msg(res.errCodeDesc);
                }
            }
        })
    }});*/

</script>
</html>
