<!DOCTYPE html>
<html>
<head>
    #parse("templates/common/base-bk.vm")
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>微信绑定</title>
     <link href="$URL/asset/bk/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="$URL/asset/bk/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="$URL/asset/bk/css/animate.min.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <script>if(window.top !== window.self){ window.top.location = window.location;}</script>
</head>

<body class="gray-bg">

<div class="lock-word animated fadeInDown">
</div>
<div class="middle-box text-center lockscreen animated fadeInDown">
    <div>
        <div class="m-b-md">
            <img alt="image" class="img-circle circle-border" src="${userWeiXin.headimgurl}" onerror="this.onerror=null;this.src='/asset/bk/img/logo.JPG'">
        </div>
        <h3>克维拉收银系统注册</h3>

    </div>
</div>
<div class="col-sm-12">
    <div class="col-sm-4 col-sm-offset-4">
        <form class="form-horizontal" id="signupForm" method="post">
            <input type="hidden" name="nickName">
            <input type="hidden" name="headImgUrl">
            <input type="hidden" name="province">
            <input type="hidden" name="city">
            <input type="hidden" name="sex">
            <input type="hidden" name="subscribe">
            <div class="form-group m-t-lg">
                <label class="col-sm-3 control-label">用户名：</label>
                <div class="col-sm-6">
                    <input name="name" class="form-control" type="text" userName="true" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">密码：</label>
                <div class="col-sm-6">
                    <input name="password" class="form-control" type="password" minlength="5" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">确认密码：</label>
                <div class="col-sm-6">
                    <input name="confirmPassword" class="form-control"type="password" repeatPassword="true" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">手机号：</label>
                <div class="col-sm-6">
                    <input name="tel" class="form-control"type="text" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">短信验证码：</label>
                <div class="col-sm-4">
                    <input name="verifyCode" class="form-control" type="text" required>
                </div>
                <label class="col-sm-3 text-left"><button class="btn btn-success btn-sm" id="sendVerifyCode" type="button">发送验证码</button></label>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">授权码：</label>
                <div class="col-sm-6">
                    <input name="bindKey" class="form-control"type="text" placeholder="非必填">
                </div>
            </div>
            <div class="form-group toolbar">
                <div class="col-sm-7 col-sm-offset-5">
                        <button class="btn btn-primary" type="submit">注册</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="$URL/asset/bk/js/jquery.min.js?v=2.1.4"></script>
<script src="$URL/asset/bk/js/bootstrap.min.js?v=3.3.6"></script>
<script src="$URL/asset/bk/js/plugins/validate/jquery.validate.min.js"></script>
<script src="$URL/asset/bk/js/plugins/validate/messages_zh.min.js"></script>
<script src="$URL/asset/bk/js/plugins/layer/layer.min.js"></script>
<script>
    bindSmsSendEvent();
    //初始化表单
    $("#signupForm").validate({submitHandler: function() {
        var formData = getDataFromForm("signupForm");
        if(/^1[34578]\d{9}$/.test(formData.name)&&formData.name!=formData.tel){
            layer.msg("用户名为手机号时，需与手机号填写一致");
            return;
        }
        layer.load();
        jQuery.ajax({
            url : "$URL/merchant/registSubmit",
            data : {dataStr : JSON.stringify(formData), verifyCode : formData.verifyCode},
            type : "post",
            success:function(res){
                if(res.resultCode == 'SUCCESS'){
                    layer.closeAll("loading");
                    layer.alert("注册成功，点击确定返回登录页面！", function(){
                        location.href = "$URL/merchant/login";
                    })
                }else {
                    layer.alert(res.errCodeDesc);
                    layer.closeAll("loading");
                }
            }
        })
    }});

    function showQrCode(){
        layer.open({
            title: "绑定微信号",
            type:2,
            skin: 'layui-layer-demo', //样式类名
            closeBtn: 1, //不显示关闭按钮
            shift: 2,
            maxmin: true,
            area: ['560px', '460px'],
            shadeClose: false, //开启遮罩关闭
            content: '$URL/merchant/registQrcode'
        })
    }

    //用户名格式限制
    jQuery.validator.addMethod("userName", function(value, element) {
        var format = /^[a-zA-z]\w{2,15}$/;
        var mobileVar = /^1[34578]\d{9}$/;
        return this.optional(element) || (format.test(value) || mobileVar.test(value));
    }, "用户名可为手机号，或者以字母开头，长度为3~16个字母或数字");
    //重复密码限制
    jQuery.validator.addMethod("repeatPassword", function(value, element) {
        var password = $("input[name='password']").val();
        return value==password;
    }, "两次密码不一致");

    function bindSmsSendEvent() {
        //绑定短信发送事件
        var isCounting = false;//是否正在倒计时
        $("#sendVerifyCode").on("click", function () {
            var tel = $("input[name='tel']").val();
            if (isCounting){
                return;
            }
            if(!(/^1[34578]\d{9}$/.test(tel))){
                layer.msg("手机号码有误，请重填");
                return false;
            }
            jQuery.ajax({
                url : '$URL/merchant/sendVerifyCode',
                type : 'post',
                data : {"tel":tel},
                success : function () {
                    var count = 60;
                    $("#sendVerifyCode").addClass("btn-block").removeClass("btn-success").text("60秒后可重新获取");
                    isCounting = true;
                    var counter = setInterval(function(){
                        count --;
                        $("#sendVerifyCode").text(count + "秒后可重新获取");
                        if (count <=0){
                            $("#sendVerifyCode").addClass("btn-success").removeClass("btn-block").text("发送验证码");
                            isCounting = false;
                            clearInterval(counter);
                        }
                    }, 1000)
                }
            })
        })
    }


</script>
</body>
</html>
