<!DOCTYPE html>
<html>
<head>
    #parse("common/base-bk.vm")
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="$URL/asset/bk/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">

    <link href="$URL/asset/bk/css/animate.min.css" rel="stylesheet">
    <link href="$URL/asset/bk/css/style.min862f.css?v=4.1.0" rel="stylesheet">

</head>

<body class="gray-bg">
<div class="middle-box text-center animated fadeInDown">
    <h1>SUCCESS</h1>
    <h3 class="font-bold"></h3>
</div>
<script src="$URL/asset/bk/js/jquery.min.js?v=2.1.4"></script>
<script src="$URL/asset/bk/js/bootstrap.min.js?v=3.3.6"></script>
<script src="$URL/asset/bk/js/my-websocket.js"></script>
</body>
<script type="text/html" id="content">
    <div>test</div>
</script>

<script>
    var domain = "localhost:8080";

    MyWebsocket.initWebsocket({
        url : domain + '/websocket',
        onOpen : function(event, websocket){
            alert("opened")
        },
        onError : function(){
            alert('connection error!')
        },
        onMessage : function(event){
            alert(event.data)
        },
        onClose : function(event){
            console.log("连接关闭！")
        }
    })
</script>

</html>
